.custom-input {
    width: 100%;
    height: fit-content;
  }
  
  .custom-input-top {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .custom-input-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
  }
  
  .input-label {
    color: var(--gray-500);
  }
  
  .input-label-top {
    font-size: 14px;
    font-weight: 400;
  }
  
  .input-label-left {
    flex: 1;
    font-size: 15px;
    font-weight: 600;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-500);
    border: 1px solid var(--gray-200);
    background-position: right 15px center;
  
    .input-box-value {
      flex: 1 calc(92% - 15px);
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  
    img {
      flex: 1 8%;
      width: 18px;
      height: 18px;
    }
  }
  
  .input-fill {
    border: none !important;
    background-color: var(--gray-100);
  }
  
  .input-left {
    flex: 1;
  }
  
  .validation-error {
    border: 1px solid var(--error-600) !important;
  }
  
  .validation-error:focus {
    border: 1px solid var(--error-600) !important;
  }
  
  .label-error {
    color: var(--error-600);
  }
  
  ion-modal#custom-modal {
    --width: fit-content;
    --min-width: 80%;
    --max-height: 70%;
    --overflow: hidden;
    --height: fit-content;
    --border-radius: 10px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }
  
  .option-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    overflow: auto;
    max-height: 500px;
  
    .select-option {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      transition: all 0.2s;
  
      &:active {
        background-color: var(--gray-100);
      }
  
      .select-value {
        color: var(--gray-700);
      }
  
      .select-icon {
        display: flex;
        align-items: center;
      }
    }
  }
  
  ion-checkbox {
    --size: 20px;
    --checkbox-background-checked: var(--success-500);
    --border-color: var(--gray-200);
    --checkbox-background: var(--gray-100);
    --border-color-checked: transparent;
    --checkmark-width: 2px;
    pointer-events: none;
  }
  
  ion-checkbox::part(container) {
    border-radius: 50%;
  }
  
  .submit-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid var(--gray-100);
  
    .action-button {
      flex: 1;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border-radius: 50px;
      cursor: pointer;
    }
  }
  
  .default {
    color: var(--gray-500);
    background-color: var(--gray-100);
  }
  
  .primary {
    color: var(--gray-25);
    background-color: var(--primary-600);
  }
  
  @media screen and (max-height: 799px) {
    .option-box {
      max-height: 400px;
    }
  }
  
  @media screen and (max-height: 659px) {
    .option-box {
      max-height: 350px;
    }
  }
  