<div class="status-title">Status</div>
<div class="list-container">
  <div class="list-item" *ngFor="let item of (half ? dataHalf : data)" (click)="select(item)">
    <div class="item-data">
      <div class="status-icon"><img [src]="item.icon === 'success' ? 'assets/icon/shield-tick.svg' : 'assets/icon/shield-cross.svg'" ></div>
      <div class="status-label" [ngClass]="item.icon">{{ item.label }}</div>
    </div>
    <div class="item-checkbox">
      <ion-checkbox [checked]="item.checked"></ion-checkbox>
    </div>
  </div>
</div>
