<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Name</ion-label>
    <ion-label class="custom-label" slot="end">Nazarco Andrei</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Email</ion-label>
    <ion-label class="custom-label" slot="end">123@gmail.com</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Phone</ion-label>
    <ion-label class="custom-label" slot="end">+1234567</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Licence</ion-label>
    <ion-label class="custom-label" slot="end">AR, 3333</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Main Office Address</ion-label>
    <ion-label class="custom-label" slot="end"
      >1 Main, New York, NY, 2075</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start"
      >Home Terminal Address</ion-label
    >
    <ion-label class="custom-label" slot="end"
      >1 Main, New York, NY, 2075</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Time Zone</ion-label>
    <ion-label class="custom-label" slot="end">CT</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Language</ion-label>
    <ion-label class="custom-label" slot="end">English</ion-label>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center" color="medium">
    <span
      >Please contact your fleet manager to change your account
      information</span
    >
  </ion-toolbar>
</ion-footer>
