// .custom-label {
//   font-size: small;
// }

.three-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

// .edit-dvir-block {
// }

.reminder {
  margin: 0 20px 20px 20px;
}
