<ion-content>
  <app-header [title]="'Insert Dvir'" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <form class="padding-g" style="padding-top: 10px">
    <div class="edit-form">
      <p class="subtitle-lg">General Info</p>
      <div class="edit-dvir-block">
        <app-input [label]="'Company'" [fill]="true" [type]="'text'" [disabled]="true" [value]="company?.name" [noValidation]="true"></app-input>
        <div class="two-inputs">
          <app-input [label]="'Time'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getHour(dvir.createDate)" [noValidation]="true"></app-input>
          <app-input [label]="'none'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getTime(dvir.createDate)" [noValidation]="true"></app-input>
        </div>
        <app-input [label]="'Location'" [fill]="true" [type]="'text'" [disabled]="locationDisable" [(value)]="dvir.location.description" [(validation)]="validation['locationDescription']"></app-input>
      </div>
      <p class="subtitle-lg">Vehicle Info</p>
      <div class="edit-dvir-block">
        <app-input [label]="'Vehicle Name'" [fill]="true" [type]="'text'" [disabled]="vehicleUnitDisable" [value]="vehicleUnit" [noValidation]="true"></app-input>
        <app-input [label]="'Odometer'" [fill]="true" [type]="'text'" [disabled]="true" [value]="dvir.odometer.toString()" [noValidation]="true"></app-input>
        <app-select [label]="'Vehicle Defects (Optional)'" [(value)]="dvir.defectsVehicle" (changeDetection)="checkSelectPresent($event)" [options]="defectsVehicle"></app-select>
      </div>
      <p class="subtitle-lg">Trailer Info</p>
      <div class="edit-dvir-block">
        <app-input [label]="'Trailer Name'" [fill]="true" [type]="'text'" [(value)]="dvir.trailers" [(validation)]="validation['trailerName']"></app-input>
        <app-select [label]="'Trailer Defects (Optional)'" [(value)]="dvir.defectsTrailers" (changeDetection)="checkSelectPresent($event)" [options]="defectsTrailers"></app-select>
      </div>
      <p class="subtitle-lg">Status</p>
      <div class="edit-dvir-block">
        <div class="input-block-2">
          <app-status-radio-button [half]="true" (selectedValue)="switchStatus($event)" [(value)]="dvir.status.code" [disableOption]="optionDisable"></app-status-radio-button>
        </div>
        <app-textarea [label]="'Comments'" [fill]="true" [type]="'text'" [(value)]="dvir.comments" [noValidation]="true"></app-textarea>
      </div>
      <p class="subtitle-lg">Signature</p>
      <div class="signature-container">
        <canvas #sPad height="200" style="touch-action: none; user-select: none"></canvas>
      </div>

      <button class="btn primary-btn" (click)="onSubmit()"><span *ngIf="!loading">Save</span> <ion-spinner *ngIf="loading" name="circular" color="light"></ion-spinner></button>
    </div>
  </form>
</ion-content>
