<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Cycle Rule</ion-label>
    <ion-label class="custom-label" slot="end">USA 70 hour / 8 day</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Cargo Type</ion-label>
    <ion-label class="custom-label" slot="end">Property</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Rest Break</ion-label>
    <ion-label class="custom-label" slot="end"
      >30 minutes Rest Break Required</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Restart</ion-label>
    <ion-label class="custom-label" slot="end">34 Hour Restart</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start"
      >M16-Hour Short-Haul Exception</ion-label
    >
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Personal Conveyance</ion-label>
    <ion-label class="custom-label" slot="end">Allowed</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Yard Moves</ion-label>
    <ion-label class="custom-label" slot="end">Allowed</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Unlimited Trailerse</ion-label>
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start"
      >Unlimited Shipping Documents</ion-label
    >
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
</ion-content>
