// .custom-label {
//   font-size: small;
// }

.edit-dvir-block {
  height: 100%;
  position: relative;
}
.reminder {
  position: absolute;
  bottom: 0;
}
.btn {
  border-radius: 30px;
  padding: 10px 15px;
}