<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Cycle Rule</ion-label>
    <ion-label class="custom-label" slot="end">USA 70 hour / 8 day</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Cargo Type</ion-label>
    <ion-label class="custom-label" slot="end">Property</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Rest Break</ion-label>
    <ion-label class="custom-label" slot="end"
      >30 minutes Rest Break Required</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Restart</ion-label>
    <ion-label class="custom-label" slot="end">34 Hour Restart</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start"
      >M16-Hour Short-Haul Exception</ion-label
    >
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Personal Conveyance</ion-label>
    <ion-label class="custom-label" slot="end">Allowed</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Yard Moves</ion-label>
    <ion-label class="custom-label" slot="end">Allowed</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start">Unlimited Trailerse</ion-label>
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label class="custom-label" slot="start"
      >Unlimited Shipping Documents</ion-label
    >
    <ion-label class="custom-label" slot="end">Forbidden</ion-label>
  </ion-item>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/others"></ion-back-button>
    </ion-buttons>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="edit-dvir-block">
    <div class="flex-b">
      <p class="text-2">Cycle Rule</p>
      <div class="btn secondary-btn">USA 70 hour / 8 day</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Cargo Type</p>
      <div class="btn secondary-btn">Property</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Rest Break</p>
      <div class="btn secondary-btn">30 Min Required</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Restart</p>
      <div class="btn secondary-btn">34 hours Restart</div>
    </div>
    <div class="flex-b">
      <p class="text-2">16-hour short-haul exeption</p>
      <div class="btn error-btn">Forbidden</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Personal Conveyance</p>
      <div class="btn success-btn">Allowed</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Yard Moves</p>
      <div class="btn success-btn">Allowed</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Unlinited Trilerlease</p>
      <div class="btn error-btn">Forbidden</div>
    </div>
    <div class="flex-b">
      <p class="text-2">Unlimited Shipping Documents</p>
      <div class="btn error-btn">Forbidden</div>
    </div>
    <div class="reminder">
      <img src="assets/icon/reminder.svg" alt="reminder">
      <p class="reminder-text">In order to change your information please contact your fleet manager</p>
    </div>
  </div>
</ion-content>