<ion-content [forceOverscroll]="false">
  <app-header [title]="'Rules'" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <div style="display: flex; flex-direction: column; height: calc(100% - 47px)" *ngIf="!pageLoading">
    <div class="edit-dvir-block padding-g">
      <div class="flex-b">
        <p class="text-2">Cycle Rule</p>
        <div class="btn secondary-btn">{{ company.settings.hoursOfService.name }}</div>
      </div>
      <div class="flex-b">
        <p class="text-2">Cargo Type</p>
        <div class="btn secondary-btn">{{ company.settings.cargoType.name }}</div>
      </div>
      <div class="flex-b">
        <p class="text-2">Rest Break</p>
        <div class="btn secondary-btn">{{ company.settings.restBreak.name }}</div>
      </div>
      <div class="flex-b">
        <p class="text-2">Restart</p>
        <div class="btn secondary-btn">{{ company.settings.restartHours.name }}</div>
      </div>
      <div class="flex-b">
        <p class="text-2">16-hour short-haul exeption</p>
        <div class="btn" [ngClass]="{'error-btn': !company.settings.shortHaulException, 'success-btn': company.settings.shortHaulException}">
          {{ company.settings.shortHaulException ? 'Allowed' : 'Forbidden' }}
        </div>
      </div>
      <div class="flex-b">
        <p class="text-2">Personal Conveyance</p>
        <div class="btn" [ngClass]="{'error-btn': !company.settings.allowPersonalUse, 'success-btn': company.settings.allowPersonalUse}">
          {{ company.settings.allowPersonalUse ? 'Allowed' : 'Forbidden' }}
        </div>
      </div>
      <div class="flex-b">
        <p class="text-2">Yard Moves</p>
        <div class="btn" [ngClass]="{'error-btn': !company.settings.allowYardMoves, 'success-btn': company.settings.allowYardMoves}">
          {{ company.settings.allowYardMoves ? 'Allowed' : 'Forbidden' }}
        </div>
      </div>
      <div class="flex-b">
        <p class="text-2">Unlimited Trailerlease</p>
        <div class="btn" [ngClass]="{'error-btn': !company.settings.shortHaulException, 'success-btn': company.settings.shortHaulException}">
          {{ company.settings.shortHaulException ? 'Allowed' : 'Forbidden' }}
        </div>
      </div>
      <div class="flex-b">
        <p class="text-2">Unlimited Shipping Documents</p>
        <div class="btn" [ngClass]="{'error-btn': !company.settings.exemptDriver, 'success-btn': company.settings.exemptDriver}">
          {{ company.settings.exemptDriver ? 'Allowed' : 'Forbidden' }}
        </div>
      </div>
    </div>
    <div style="flex: 1; display: flex; align-items: flex-end">
      <div class="reminder">
        <img src="assets/icon/reminder.svg" alt="reminder" />
        <p class="reminder-text">In order to change your information please contact your fleet manager</p>
      </div>
    </div>
  </div>
  <div class="spinner-container" *ngIf="pageLoading">
    <ion-spinner color="dark"></ion-spinner>
    <div>LOADING</div>
  </div>
</ion-content>
