// .custom-label {
//   font-size: small;
// }

.edit-dvir-block {
  // position: relative;
  flex: 1;
}
.reminder {
  // position: absolute;
  // bottom: 0;
  flex: 1;
  margin: 0 20px 20px 20px;
}
.btn {
  border-radius: 30px;
  padding: 10px 15px;
}

.hide-el {
  display: none;
}