<div class="custom-input" [ngClass]="{ 'custom-input-top': labelPosition === 'top', 'custom-input-left': labelPosition === 'left' }">
  <div *ngIf="label" class="input-label" [ngClass]="{ 'label-error': !valid, 'input-label-top': labelPosition === 'top', 'input-label-left': labelPosition === 'left' }">
    {{ label }}{{ required ? '*' : '' }}
  </div>
  <div
    class="input-box"
    [id]="id"
    (click)="openModal()"
    [ngClass]="{ 'input-fill': fill, 'validation-error': !valid, 'input-left': labelPosition === 'left', 'disable-form': disabled, 'disable-input-opacity': showDisabled }">
    <div class="input-box-value">{{ displayValue }}</div>
  </div>
  <ion-modal id="custom-modal" [isOpen]="isModalOpen" [trigger]="id">
    <ng-template>
      <ion-datetime
        (ionChange)="selectDate($event)"
        [value]="formValue"
        [ngClass]="{ 'calendar-height': localType === 'date-time' }"
        [presentation]="localType"
        [preferWheel]="enableWheel"></ion-datetime>
      <div class="submit-buttons">
        <div class="action-button default" (click)="closeModal()">Cancel</div>
        <div class="action-button primary" (click)="submit()">Submit</div>
      </div>
    </ng-template>
  </ion-modal>
</div>
