.vehicle-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vehicle-card {
  width: 100%;
  background-color: var(--gray-100);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vehicle-card-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-700);
}

.vehicle-card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-500);
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .ios .vehicle-container {
    padding-left: var(--ion-safe-area-left);
    padding-right: var(--ion-safe-area-right);
  }
}
