h2 {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
}

.SVGline {
  stroke: #141;
  stroke-width: 3;
}

rect {
  fill: transparent;
}

rect.eventBorder {
  fill: transparent;
  stroke-opacity: 0;
  transition: fill 300ms ease;
  cursor: pointer;
}

line {
  stroke: var(--gray-400);
  stroke-width: 1;
}

.eventStatusOFF {
  stroke: var(--off-duty);
  stroke-width: 5;
}

.eventStatusSB {
  stroke: var(--split-spleeper-berth);
  stroke-width: 5;
}

.eventStatusD {
  stroke: var(--success-500);
  stroke-width: 5;
}

.eventStatusON {
  stroke: var(--warning-400);
  stroke-width: 5;
}

.eventStatusPC {
  stroke: var(--off-duty);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusYM {
  stroke: var(--warning-400);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusNP {
  stroke-width: 3;
  stroke: rgb(60, 118, 61);
}

.eventStatusLogin {
  stroke-width: 3;
  stroke: rgb(3, 33, 252);
  stroke-dasharray: 6;
}

.eventStatusLogout {
  stroke-width: 3;
  stroke: rgb(255, 0, 0);
  stroke-dasharray: 6;
}

.vertical {
  stroke: var(--gray-500) !important;
  fill: var(--gray-500) !important;
  stroke-width: 1;
}

.horizontalRed {
  stroke: #db2828;
  stroke-width: 7;
}

.card-info {
  // min-width: 397px;
  z-index: 5;
  margin-bottom: 20px;
}

ion-grid {
  margin: 0;
}

ion-col {
  text-align: center;
}

.FormStatus {
  background: #3880ff;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-card {
  position: relative;
}

.underline-text {
  text-decoration: underline;
  color: #0000ff;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  .custom-subtitle {
    flex-grow: 1;
    color: var(--gray-700);
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 15px;
    height: 38px;
  }
}

.logs-certified {
  display: flex;
  align-items: center;
  .subtitle {
    flex: 1;
  }
  .logs-buttons {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    .btn {
      border-radius: 30px;
      padding: 10px 15px;
      min-height: 37px;
    }
  }
}
.form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input {
      width: 50%;
      background-color: var(--gray-100);
    }
  }
}

.edit-form {
  width: 100%;
}

.form-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(50vh - 60px);
  overflow-y: auto;
  padding-bottom: 20px;

  .form-card {
    width: 100%;
    display: flex;
    border-radius: 12px;
    flex-shrink: 0;
    overflow: hidden;
    min-height: fit-content;

    .card-status {
      width: 10%;
      max-width: 70px;
      font-weight: bold;
      color: var(--gray-100);
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-data {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 15px;
      gap: 8px;
      background-color: var(--gray-100);
      .card-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .row-status {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        .text-2 {
          flex-grow: 1;
        }
      }
    }
  }
}

.status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 18px;
    height: 18px;
  }
}

.subtitle {
  flex: 1 calc(100% - 25px);
  font-size: 14px;
}

.card-time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 600;
  text-align: right;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;

  img {
    width: 24px;
    height: 24px;
  }
}

.status-circle {
  flex: 1 15px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

.custom-status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

.status-circle-error {
  background-color: var(--error-500);
}

.status-circle-success {
  background-color: var(--success-500);
}

.btn-disabled {
  color: var(--gray-25) !important;
  background-color: var(--gray-500) !important;
}

.signature-visualization {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: var(--gray-100);
  border-radius: 10px;
  padding: 15px;
  min-width: 330px;
  max-width: 480px;
  // min-height: 320px;
  height: max-content;
  width: 80vw;

  img {
    border-radius: 10px;
  }
}

.no-image {
  display: none;
  width: 0;
  height: 0;
}

.no-signature {
  background-color: var(--gray-100);
  font-size: 14px;
  color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.violation-list {
  margin: 5px 0;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;

  .violation-item {
    font-size: 11px;
    color: var(--error-600);
    border: 1px solid var(--error-600);
    background-color: var(--error-50);
    padding: 5px 10px;
    border-radius: 50px;
    min-width: fit-content;
    flex-shrink: 0;
  }
}

.error-status-viol {
  fill: var(--error-600) !important;
  stroke: var(--error-600);
  opacity: 0.2;
  stroke-width: 1px;
}

.duty-status-labels .label {
  fill: var(--gray-700) !important;
}

.hour-labels .label {
  fill: var(--gray-700) !important;
}

.durations .label {
  fill: var(--gray-700) !important;
}

.dvir-add {
  width: 32px;
  height: 32px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-25);
  background-color: var(--primary-600);
  border-radius: 10px;
}

.sign-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (min-height: 600px) {
  .sign-box {
    height: calc(100% - 86px); // header height + 2 * margin-top
  }

  ion-modal.cert-modal {
    --border-radius: 10px;
  }
}

.hide-el {
  display: none;
}

.logdailies-horizontal {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1px 0;
  margin-bottom: 20px;
  gap: 12px;
}

.time-violation {
  background-color: var(--error-600) !important;
}

.logdailies-horizontal::-webkit-scrollbar {
  display: none;
}

.logdaily-element {
  flex: 1;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.log-el-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.log-el-text {
  font-size: 16px;
  color: var(--gray-700);
  font-weight: 500;
}

.log-el-signs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-el-sign {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: var(--gray-25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-el-sign-green {
  background: var(--success-500);
}

.log-el-sign-red {
  background: var(--error-600);
}

.log-el-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--success-500);
  border-radius: 6px;
  color: var(--gray-25);
  padding: 2px 0px;
}

.card-info {
  // min-width: 397px;
  z-index: 5;
  background: var(--gray-100);
  border-radius: 10px;
  padding: 10px 5px 5px 5px;
}

.day-change {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px 15px 15px;
}

.day-change-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
}

.day-change-date {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-500);
}

.change-side {
  display: flex;
  align-items: center;
  gap: 15px;
}

.change-side-btn {
  padding: 8px 15px;
  font-size: 14;
  border-radius: 8px;
}

.side-btn-active {
  color: var(--gray-25);
  background-color: var(--primary-600);
}

.side-btn-default {
  color: var(--gray-500);
  background-color: var(--gray-200);
}

.add-event-btn {
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 8px;
  color: var(--gray-500);
  background-color: var(--gray-50);
  border: 1px solid var(--gray-100);
}

.media-hide {
  display: none;
}

@media screen and (min-width: 600px) {
  .media-hide {
    display: inline;
  }
}

@media screen and (min-width: 1100px) {
  .day-change-date {
    font-size: 20px;
  }

  .day-change-arrow {
    img {
      width: 28px;
      height: 28px;
    }
  }
}

::ng-deep app-input.custom-local-input input {
  background: var(--gray-25) !important;
  border: none !important;
}

::ng-deep app-select.custom-local-select .input-box {
  background: var(--gray-25) !important;
  border: 1px solid var(--gray-25);
}

.form-complex {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-100);
  gap: 20px;
  border-radius: 10px;
  padding: 12px;
}

.form-buttons {
  display: flex;
  gap: 15px;
}

.custom-btn {
  flex: 1;
  font-weight: 500 !important;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 10px;
  height: 42px;
}

.default-btn {
  background-color: var(--gray-200);
  color: var(--gray-500);
}

.pc-color {
  color: var(--gray-500) !important;
}

.ym-color {
  color: var(--warning-600) !important;
}

.active-log-daily {
  border: 1px solid var(--gray-400);
}

.form-wrapper {
  padding: 0;
  margin: 0;
  height: calc(50vh - 60px);
}
