<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Vehicles </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item>
      
    </ion-item>
  </ion-list>
</ion-content> -->
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vehicle unit: 1111</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Year: 2009, Model: Honda Civic
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vehicle: unit: 1111</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Year: 2009, Model: Honda Civic
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vehicle: unit: 1111</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Year: 2009, Model: Honda Civic
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Vehicle: unit: 1111</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Year: 2009, Model: Honda Civic
  </ion-card-content>
</ion-card>
</ion-content>