.chs-container {
  width: 100%;
  background-color: var(--gray-100);
  border-radius: 10px;
  display: flex;
  padding: 12px;
  gap: 10px;
}

.chs-el-main {
  flex: 1 (100% / 3);
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.chs-el-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 0px;
  position: relative;
  overflow: hidden;
}

.chs-el-logo {
  img {
    width: 32px;
    height: 32px;
  }
}

.chs-el-text {
  color: var(--gray-25);
  max-width: 80%;
  font-weight: 500;
}

.chs-el-label {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 100%;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
}

.chs-el-bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chs-el-bg-layer-d {
    top: 0px;
    transform: rotate(180deg);
}