.title-container {
  display: flex;
  flex-direction: column;
}

.title-back {
  display: flex;
  align-items: center;
  gap: 15px;

  img {
    width: 20px;
    height: 20px;
  }
}

.custom-subtitle {
  margin-left: 35px;
}

.title-container {
  padding-bottom: 0;
}

.custom-padding {
  padding-top: 10px;
}

@media screen and (orientation: landscape) {
  .title-container {
    padding-left: var(--ion-safe-area-left);
    padding-right: var(--ion-safe-area-right);
  }
}