<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <app-header [title]="'Inspection Preview'" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <app-scroll-toolbar [title]="getDateSub(logDaily?.logDate)" (leftCallback)="goToNextLog()" (rightCallback)="goToPreviousLog()"></app-scroll-toolbar>
  <div class="padding-g">
    <div class="card-info" style="margin-bottom: 20px">
      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 1600 270">
        <g class="grid" transform="translate(65, 40)">
          <rect class="border" x="0" y="0" width="1440" height="200" rx="8" ry="8"></rect>

          <g class="" *ngFor="let hours of graphicsHour">
            <g class="column" [style.transform]="'translateX(' + hours * 60 + 'px)'">
              <line x1="0" x2="0" y1="0" y2="200"></line>
              <g class="cell top" transform="translate(0, 0)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell top" transform="translate(0, 50)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 100)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 150)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
            </g>
          </g>
          <g class="column" transform="translate(1440, 0)">
            <line x1="0" x2="0" y1="0" y2="200"></line>
          </g>

          <line class="row" x1="0" x2="1440" y1="0" y2="0"></line>
          <line class="row" x1="0" x2="1440" y1="50" y2="50"></line>
          <line class="row" x1="0" x2="1440" y1="100" y2="100"></line>
          <line class="row" x1="0" x2="1440" y1="150" y2="150"></line>
          <line class="row" x1="0" x2="1440" y1="200" y2="200"></line>
        </g>

        <g class="duty-status-labels" transform="translate(35, 40)">
          <text class="label" transform="translate(15, 25)" text-anchor="end" dy="0.35em">OFF</text>
          <text class="label" transform="translate(15, 75)" text-anchor="end" dy="0.35em">SB</text>
          <text class="label" transform="translate(15, 125)" text-anchor="end" dy="0.35em">D</text>
          <text class="label" transform="translate(15, 175)" text-anchor="end" dy="0.35em">ON</text>
        </g>

        <g class="hour-labels" transform="translate(65, 40)">
          <text class="label" transform="translate(0, 10)" text-anchor="middle" dy="-1em">M</text>
          <text class="label" transform="translate(60, 10)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(120, 10)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(180, 10)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(240, 10)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(300, 10)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(360, 10)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(420, 10)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(480, 10)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(540, 10)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(600, 10)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(660, 10)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(720, 10)" text-anchor="middle" dy="-1em">N</text>
          <text class="label" transform="translate(780, 10)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(840, 10)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(900, 10)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(960, 10)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(1020, 10)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(1080, 10)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(1140, 10)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(1200, 10)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(1260, 10)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(1320, 10)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(1380, 10)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(1440, 10)" text-anchor="middle" dy="-1em">M</text>
        </g>

        <g class="durations" transform="translate(1520, 40)">
          <text class="label" transform="translate(0, 25)" dy="0.35em">00:00</text>
          <text class="label" transform="translate(0, 75)" dy="0.35em">00:00</text>
          <text class="label" transform="translate(0, 125)" dy="0.35em">00:00</text>
          <text class="label" transform="translate(0, 175)" dy="0.35em">00:00</text>
        </g>

        <g class="eventLine" transform="translate(65, 40)">
          <g class="eventRecord" *ngFor="let event of eventGraphicLine">
            <line [attr.x1]="event.x1" [attr.x2]="event.x2" [attr.y1]="event.y1" [attr.y2]="event.y2" [class]="event.class"></line>

            <line *ngIf="event.yV > 0" [attr.x1]="event.x1" [attr.x2]="event.x1" [attr.y1]="event.y1" [attr.y2]="event.yV" class="vertical"></line>
          </g>
        </g>
      </svg>
    </div>

    <div class="inspection-table">
      <div class="inspection-row">
        <div class="inspection-row-item">
          <div class="inspection-item-label">Driver Name</div>
          <div class="inspection-item-label">Driver ID</div>
          <div class="inspection-item-label">Driver License</div>
          <div class="inspection-item-label">Driver License State</div>
        </div>
        <div class="inspection-row-item">
          <div class="inspection-item-value">{{ driver?.name || "-" }}</div>
          <div class="inspection-item-value">{{ driver?.driverIdentifier || "-" }}</div>
          <div class="inspection-item-value">{{ driver?.driverInfo?.licenseNumber || "-" }}</div>
          <div class="inspection-item-value">{{ driver?.driverInfo?.licenseState || "-" }}</div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item">
          <div class="inspection-item-label">Exempt Driver Status</div>
          <div class="inspection-item-label">Unidentified Driving Records</div>
          <div class="inspection-item-label">Co-driver</div>
          <div class="inspection-item-label">Co-driver ID</div>
        </div>
        <div class="inspection-row-item">
          <div class="inspection-item-value">{{ driver?.driverInfo?.settings?.shortHaulException ? 'Yes' : 'No' }}</div>
          <div class="inspection-item-value">{{ '-' }}</div>
          <div class="inspection-item-value">{{ logDaily?.form?.coDriver?.firstName ? (logDaily?.form?.coDriver?.firstName + ' ' + logDaily?.form?.coDriver?.lastName) : "-" }}</div>
          <div class="inspection-item-value">
            {{ logDaily?.form?.coDriver?.driverIdentifier && logDaily?.form?.coDriver?.driverIdentifier !== '00000000-0000-0000-0000-000000000000' ? logDaily?.form?.coDriver?.driverIdentifier : "-" }}
          </div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item">
          <div class="inspection-item-label">Log Date</div>
          <div class="inspection-item-label">Display Date</div>
          <div class="inspection-item-label">Display Location</div>
          <div class="inspection-item-label">Driver Certified</div>
        </div>
        <div class="inspection-row-item">
          <div class="inspection-item-value">{{ (logDaily?.logDate | date: "LLLL d, yyyy") || "-" }}</div>
          <div class="inspection-item-value">{{ (today | date: "LLLL d, yyyy") || "-" }}</div>
          <div class="inspection-item-value">{{ currentLogEvents[currentLogEvents.length - 1]?.location?.description || "-" }}</div>
          <div class="inspection-item-value">{{ logDaily?.certified ? "Yes" : "No" }}</div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item" style="grid-template-columns: repeat(3, 1fr)">
          <div class="inspection-item-label">24 Period Starting Time</div>
          <div class="inspection-item-label">Data Daig. Indicators</div>
          <div class="inspection-item-label">Device Malfunction Indicators</div>
        </div>
        <div class="inspection-row-item" style="grid-template-columns: repeat(3, 1fr)">
          <div class="inspection-item-value">{{ "-" }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item" style="grid-template-columns: repeat(5, 1fr)">
          <div class="inspection-item-label">Vehicle</div>
          <div class="inspection-item-label">VIN</div>
          <div class="inspection-item-label">Odometer</div>
          <div class="inspection-item-label">Distance</div>
          <div class="inspection-item-label">Engine Hours</div>
        </div>
        <div class="inspection-row-item" style="grid-template-columns: repeat(5, 1fr)">
          <div class="inspection-item-value">{{ vehicle?.vehicleUnit }}</div>
          <div class="inspection-item-value">{{ vehicle?.vin }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item" style="grid-template-columns: repeat(3, 1fr)">
          <div class="inspection-item-label">Trailers</div>
          <div class="inspection-item-label">Shipping Docs</div>
          <div class="inspection-item-label">Carrier</div>
        </div>
        <div class="inspection-row-item" style="grid-template-columns: repeat(3, 1fr)">
          <div class="inspection-item-value">{{ logDaily?.form?.trailers || "-" }}</div>
          <div class="inspection-item-value">{{ logDaily?.form?.shippingDoc || "-" }}</div>
          <div class="inspection-item-value">{{ "-" }}</div>
        </div>
      </div>
      <div class="inspection-row">
        <div class="inspection-row-item" style="grid-template-columns: repeat(2, 1fr)">
          <div class="inspection-item-label">Main Office</div>
          <div class="inspection-item-label">Home Terminal</div>
        </div>
        <div class="inspection-row-item" style="grid-template-columns: repeat(2, 1fr)">
          <div class="inspection-item-value">
            {{ company?.mainOffice?.street + ', ' + company?.mainOffice?.city + ', ' + company?.mainOffice?.stateProvinceCode + ' ' + company?.mainOffice?.zipCode + ', ' +
            company?.mainOffice?.countryCode }}
          </div>
          <div class="inspection-item-value">
            {{ company?.terminals[0].street + ', ' + company?.terminals[0].city + ', ' + company?.terminals[0].stateProvinceCode + ' ' + company?.terminals[0].zipCode + ', ' +
            company?.terminals[0].countryCode }}
          </div>
        </div>
      </div>
    </div>

    <div class="inspection-logs-title">Logs</div>
    <div class="inspection-logs-container">
      <div class="inspection-logs-row inspection-logs-header">
        <div class="logs-row-item">{{ 'Time (' + timeZone + ')' }}</div>
        <div class="logs-row-item">{{ 'Code' }}</div>
        <div class="logs-row-item">{{ 'Location' }}</div>
        <div class="logs-row-item">{{ 'Odometer' }}</div>
        <div class="logs-row-item">{{ 'Engine Hours' }}</div>
        <div class="logs-row-item">{{ 'Origin' }}</div>
        <div class="logs-row-item">{{ 'Notes' }}</div>
      </div>
      <div class="inspection-logs-row" *ngFor="let logEvent of currentLogEvents">
        <div class="logs-row-item">{{ logEvent?.eventTime?.timeStamp | date: "LLL d, hh:mm:ss a" }}</div>
        <div class="logs-row-item">{{ logEvent?.type?.name}}{{ !(logEvent.type.code === 'CERTIFICATION_1') ? "" : " " + logEvent?.certificationDate | date: "L/d/yyyy" }}</div>
        <div class="logs-row-item">{{ logEvent?.location?.description }}</div>
        <div class="logs-row-item">{{ logEvent.odometer }}</div>
        <div class="logs-row-item">{{ logEvent.engineHours }}</div>
        <div class="logs-row-item">{{ logEvent?.recordOrigin?.name }}</div>
        <div class="logs-row-item">{{ logEvent.comment }}</div>
      </div>
    </div>
  </div>
</ion-content>
