ion-grid {
  padding: 0;
  margin: 0;
}

ion-col {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

ion-col:nth-child(6n-3),
ion-col:nth-child(6n-4),
ion-col:nth-child(6n-5) {
  color: #000000;
}

.row {
  background-color: #a7a7a7;
}

.row:nth-child(2n) {
  background-color: #ffffff;
  text-align: center;
}

h2 {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
}

.SVGline {
  stroke: #141;
  stroke-width: 3;
}

rect {
  fill: transparent;
}

rect.eventBorder {
  fill: transparent;
  stroke-opacity: 0;
  transition: fill 300ms ease;
  cursor: pointer;
}

line {
  stroke: var(--gray-700);
  stroke-width: 0.5;
}

.eventStatusOFF {
  stroke: var(--off-duty);
  stroke-width: 5;
}

.eventStatusSB {
  stroke: var(--split-spleeper-berth);
  stroke-width: 5;
}

.eventStatusD {
  stroke: var(--success-500);
  stroke-width: 5;
}

.eventStatusON {
  stroke: var(--warning-400);
  stroke-width: 5;
}

.eventStatusPC {
  stroke: var(--off-duty);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusYM {
  stroke: var(--warning-400);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusNP {
  stroke-width: 3;
  stroke: rgb(60, 118, 61);
}

.eventStatusLogin {
  stroke-width: 3;
  stroke: rgb(3, 33, 252);
  stroke-dasharray: 6;
}

.eventStatusLogout {
  stroke-width: 3;
  stroke: rgb(255, 0, 0);
  stroke-dasharray: 6;
}

.vertical {
  stroke: #002ed0;
}

.horizontalRed {
  stroke: #db2828;
  stroke-width: 7;
}

.card-info {
  // min-width: 397px;
  z-index: 5;
}

ion-grid {
  margin: 0;
}

ion-col {
  text-align: center;
}

.FormStatus {
  background: #3880ff;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-card {
  position: relative;
}

.custom-card-on::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #fae057; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}

.custom-card-off::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #bdc3bf; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #8bc34a; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-sb::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #7e7e7e; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-pc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #bdc3bf; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-ym::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #fae057; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}

.underline-text {
  text-decoration: underline;
  color: #0000ff;
}

.info-rows {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--gray-100);
  padding: 15px;
  border-radius: 10px;
}

.box-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-700);
}

.row-label {
  color: var(--gray-500);
  font-weight: 500;
  font-size: 15px;
}

.row-data {
  color: var(--gray-700);
  font-weight: 500;
  font-size: 16px;
  max-width: 50%;
  white-space: normal;
  text-align: right;
}

.inspection-table {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--gray-100);
  overflow: hidden;

  .inspection-row {
    .inspection-row-item {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .inspection-item-label {
        padding: 5px;
        background-color: var(--gray-100);
        color: var(--gray-500);
        font-weight: 600;
        font-size: 12px;

        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 10px;
        }
      }

      .inspection-item-value {
        padding: 5px;
        color: var(--gray-500);
        background-color: var(--all-background);
        font-size: 12px;
        word-break: break-word;

        &:first-child {
          padding-left: 10px;
        }
        &:last-child {
          padding-right: 10px;
        }
      }
    }
  }
}

.inspection-logs-container {
  margin-top: 15px;
  border: 1px solid var(--gray-100);
  border-radius: 10px;
  overflow: hidden;

  .inspection-logs-row {
    display: grid;
    font-size: 11px;
    color: var(--gray-500);
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid var(--gray-100);

    .logs-row-item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5px 2px;

      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }

    &:nth-child(2n + 1) {
      background-color: var(--gray-50);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .inspection-logs-header {
    font-weight: 600;
    background-color: var(--gray-100);
  }
}

.duty-status-labels .label {
  fill: var(--gray-700) !important;
}

.hour-labels .label {
  fill: var(--gray-700) !important;
}

.durations .label {
  fill: var(--gray-700) !important;
}

.inspection-logs-title {
  color: var(--gray-700);
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}
