<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inspection Preview</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>Button</ion-button>
    </ion-buttons>
    <ion-title>Date.Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="row">
      <ion-col>Driver Name</ion-col>
      <ion-col>Driver ID</ion-col>
      <ion-col>Driver License</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Nazarco Tihon</ion-col>
      <ion-col>111</ion-col>
      <ion-col>3333</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Co-Driver Name</ion-col>
      <ion-col>Co-Driver ID</ion-col>
      <ion-col>Driver License State</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>AR</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Log Date</ion-col>
      <ion-col>Display Date</ion-col>
      <ion-col>Display Location</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Date</ion-col>
      <ion-col>Date</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Eld ID</ion-col>
      <ion-col>ELD Malfunction</ion-col>
      <ion-col>ELD Malfunction Indicators</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Exempt Driver Status</ion-col>
      <ion-col>Unidentified Driving Records</ion-col>
      <ion-col>Data Diag.Indicators</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>No</ion-col>
      <ion-col>No</ion-col>
      <ion-col>No</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>24 Period Starting Time</ion-col>
      <ion-col>Driver Certified</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>00:00</ion-col>
      <ion-col>No</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Vehicle</ion-col>
      <ion-col>VIN</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>1111</ion-col>
      <ion-col>VIN123456</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Odometer</ion-col>
      <ion-col>Distance</ion-col>
      <ion-col>Engine Hours</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Trailers</ion-col>
      <ion-col>Shipping Documents</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>Carrier</ion-col>
      <ion-col>Main Office</ion-col>
      <ion-col>Home Terminal</ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col>ZigzagPlus</ion-col>
      <ion-col>NY</ion-col>
      <ion-col>1 main, New York, NY, 2075</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
