<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Others</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onVehicleClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="car-outline"></ion-icon>
          <ion-label color="dark">Vehicle</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onCoDriverClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="people-outline"></ion-icon>
          <ion-label color="dark">Co-Driver</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onAccountClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="person-outline"></ion-icon>
          <ion-label color="dark">Account</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onRulesClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="book-outline"></ion-icon>
          <ion-label color="dark">Rules</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onInformationClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label color="dark">Information</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="onLogoutClick()"
          expand="full"
          shape="round"
          fill="outline"
        >
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label color="dark">Logout</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Others</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <app-header [title]="'Others'"></app-header>
  <div class="edit-form padding-g">
    <!-- <p class="title">Other</p> -->
    <div class="other-items">
      <div class="other-item" (click)="onVehicleClick()">
        <img src="assets/icon/truck.svg" alt="vehicle" />
        <p class="text-14-600">Vehicle</p>
      </div>
      <div class="other-item" (click)="onCoDriverClick()">
        <img src="assets/icon/co-driver.svg" alt="co-driver" />
        <p class="text-14-600">Co-Driver</p>
      </div>
    </div>
    <div class="other-items">
      <div class="other-item" (click)="onAccountClick()">
        <img src="assets/icon/my-account.svg" alt="my account" />
        <p class="text-14-600">My Account</p>
      </div>
      <div class="other-item" (click)="onRulesClick()">
        <img src="assets/icon/rules.svg" alt="rules" />
        <p class="text-14-600">Rules</p>
      </div>
    </div>
    <div class="other-items">
      <div class="other-item" (click)="onInformationClick()">
        <img src="assets/icon/information.svg" alt="information" />
        <p class="text-14-600">Information</p>
      </div>
      <div class="other-item" (click)="onLogoutClick()">
        <img src="assets/icon/logout.svg" alt="logout" />
        <p class="text-14-600">Logout</p>
      </div>
    </div>
  </div>
</ion-content>
