<div class="custom-input" [ngClass]="{ 'custom-input-top': labelPosition === 'top', 'custom-input-left': labelPosition === 'left' }">
  <div *ngIf="label" class="input-label" [ngClass]="{ 'label-error': !valid, 'input-label-top': labelPosition === 'top', 'input-label-left': labelPosition === 'left' }">
    {{ label }}{{ required ? '*' : '' }}
  </div>
  <input
    [type]="type"
    (input)="onInputChange($event)"
    [(ngModel)]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    class="input-box"
    [ngClass]="{ 'input-fill': fill, 'validation-error': !valid, 'input-left': labelPosition === 'left' }" />
</div>
