<ion-content [forceOverscroll]="false">
  <app-header [title]="'DOT Inspection'"></app-header>
  <div class="edit-form padding-g">
    <div class="flex-b">
      <p class="subtitle">Inspection</p>
      <button class="btn primary-btn" (click)="onStartInspectionClick()">Start Inspection</button>
    </div>
    <p class="subtitle">Inspect logs for the 24-hour period and the previous days for one HOS cycle</p>
    <button class="btn secondary-btn">7 Days + Today</button>
    <p class="text-2">Press on “Start Inspection” Button and give your phone to the officer</p>
    <div class="flex-b" style="border-top: 1px solid var(--gray-200); padding-top: 20px">
      <p class="subtitle">Send Logs</p>
      <button class="btn primary-btn" (click)="onSendLogsClick()">Send Logs</button>
    </div>
    <p class="subtitle">Send logs for 24-hour period and the previous days for one HOS cycle</p>
    <button class="btn secondary-btn">7 Days + Today</button>
    <p class="text-2">Send your logs to the officer if they request</p>
  </div>
</ion-content>
