.edit-form {
  overflow: hidden;
}
.btn {
  align-self: center;
  border-radius: 30px;
  padding: 10px 15px;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #e4e7ec;
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .ios .edit-form {
    padding-left: var(--ion-safe-area-left);
    padding-right: var(--ion-safe-area-right);
  }
}
