<ion-content [forceOverscroll]="false">
  <app-header [title]="'Information'" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <div class="edit-form padding-g">
    <p class="title">Information</p>
    <div class="edit-dvir-block">
      <div class="flex-b">
        <p class="subtitle-lg">User Manual</p>
        <button class="btn primary-btn" (click)="onUserManualClick()">View</button>
      </div>
      <p class="text-2">
        The user's manual, instruction sheet, and malfunction instruction sheet can be in electronic form. This is in accordance with the federal register titled "Regulatory Guidance Concerning
        Electronic Signatures and Documents" (76 FR 411).
      </p>
    </div>
    <div class="edit-dvir-block">
      <div class="flex-b">
        <p class="subtitle-lg">Instructions</p>
        <button class="btn primary-btn" (click)="onInstructionsClick()">View</button>
      </div>
      <p class="text-2">
        In addition to the above, a supply of blank driver's records of duty status (RODS) graph-grids sufficient to record the driver's duty status and other related information for a minimum of 8
        days must be on board the commercial motor vehicle (CMV).
      </p>
    </div>
  </div>
</ion-content>
