.hos-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  .hos-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--gray-100);
    border-radius: 50px;
    padding: 10px 15px;
    .hos-name {
      flex-grow: 1;
      text-align: center;
    }
  }
  .warning {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--warning-500);
    border-radius: 50px;
    padding: 10px 15px;
    .warning-text {
      .subtitle {
        color: var(--warning-25);
      }
      .text-1 {
        color: var(--warning-25);
      }
    }
  }
  .status-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    .subtitle {
      flex-grow: 1;
    }
    .green {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 10px;
      // background-color: var(--success-500);
      color: var(--gray-25);
      font-size: 16px;
      border-radius: 30px;
      padding: 5px 10px;
    }
  }
  .circles-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
    min-width: 60%;
    margin: 0 auto;
    .circle-block {
      width: 45%;
      max-width: 140px;
    }
  }
  .rest-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    .rest-row {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .row-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .progress-bar-outer {
        width: 100%;
        height: 10px;
        background-color: var(--gray-200);
        border-radius: 20px;
        .progress-bar-inner {
          height: 10px;
          border-radius: 20px;
        }
        #inner-1 {
          background-color: var(--warning-300);
        }
        #inner-2 {
          background-color: var(--purple-500);
        }
        #inner-3 {
          background-color: var(--orange-400);
        }
      }
    }
  }

  .time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    .time-block {
      flex: 1;
      border-radius: 30px;
      background-color: var(--gray-100);
      text-align: center;
      padding: 20px;
    }
  }

  .switch-sleep {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-100);
    border-radius: 30px;
    padding: 15px;

    ion-toggle {
      --handle-background: var(--gray-300);
      --handle-background-checked: var(--success-500);
      --track-background: var(--gray-25);
      --track-background-checked: var(--gray-25);
      --handle-width: 23px;
      --handle-height: 23px;
    }
  }

  .btn {
    // width: 217px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 41px;
    font-size: 16px;
    padding: 15px;
    margin: 0 auto;
  }

  .log-dailies {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .log-daily {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--gray-100);
      border-radius: 10px;
      padding: 15px;

      .log-left {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .sub-info {
          display: flex;
          align-items: center;
          gap: 10px;

          p {
            font-size: 14px;
            font-weight: 500;
            color: var(--gray-500);
          }
        }
        div.subtitle {
          font-size: 16px;
          font-weight: 500;
          color: var(--gray-700);
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
      .log-right {
        background-color: var(--success-500);
        border-radius: 30px;
        padding: 5px 10px;

        .hours-worked {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .textarea {
    height: 100px;
  }

  .btn {
    width: 100%;
    height: 50px;
    border-radius: 41px;
    font-size: 16px;
  }
}

ion-progress-bar {
  --background: var(--gray-200);
  --progress-background: #9b8afb;
}

ion-progress-bar #progress-break {
  --progress-background: #fec84b;
}

ion-progress-bar #progress-shift {
  --progress-background: #9b8afb;
}

ion-progress-bar #progress-cycle {
  --progress-background: #fb6514;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-dot-error {
  background-color: var(--error-600);
}

.status-dot-success {
  background-color: var(--success-600);
}

.service {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-on {
  background-color: var(--success-500);
}

.service-off {
  background-color: var(--error-500);
}

.violation-number {
  color: var(--error-600);
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  img {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
  }
}

ion-modal#custom-modal {
  --width: fit-content;
  --min-width: 80%;
  --max-width: 85%;
  --max-height: 100%;
  --overflow: hidden;
  --height: fit-content;
  --border-radius: 10px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.submit-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 15px 20px 20px 20px;

  .action-button {
    flex: 1;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
}

.submit-buttons-error {
  padding-top: 25px;
}

.modal-box {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
}

.modal-status {
  font-size: 15px;
}

.default {
  color: var(--gray-500);
  background-color: var(--gray-100);
}

.defaultd {
  color: var(--gray-25);
  background-color: var(--gray-500);
}

.primary {
  color: var(--gray-25);
  background-color: var(--primary-600);
}

.error {
  color: var(--gray-25);
  background-color: var(--error-600);
  font-weight: 600;
}

.warningb {
  color: var(--gray-25);
  background-color: var(--warning-500);
}

.custom-sleep-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
  color: var(--gray-25);
  span {
    width: fit-content;
  }
}

ion-loading {
  color: var(--gray-700);
  --background: var(--gray-25);
  --spinner-color: var(--gray-700);
}

.sleep-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  .sleep-box {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 50px;
    img {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      font-size: 15px;
      color: var(--gray-25);
    }
  }
}

.sleep-warning {
  background-color: var(--warning-500);
}

.sleep-error {
  background-color: var(--error-500);
}

.hide-container {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.hide-el {
  display: none;
}

.ios .hos-wrapper {
  padding-top: 10px;
}

@media screen and (orientation: landscape) {
  .ios .hos-wrapper {
    padding-left: var(--ion-safe-area-left);
    padding-right: var(--ion-safe-area-right);
  }
}

.logdailies-horizontal {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 12px;
}

.logdailies-horizontal::-webkit-scrollbar {
  display: none;
}

.logdaily-element {
  flex: 1;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  padding: 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 150px;
}

.log-el-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.log-el-text {
  font-size: 16px;
  color: var(--gray-700);
  font-weight: 500;
}

.log-el-signs {
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-el-sign {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  font-size: 11px;
  color: var(--gray-25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-el-sign-green {
  background: var(--success-500);
}

.log-el-sign-red {
  background: var(--error-600);
}

.log-el-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--success-500);
  border-radius: 6px;
  color: var(--gray-25);
  padding: 2px 0px;
}

.card-info {
  // min-width: 397px;
  z-index: 5;
  background: var(--gray-100);
  border-radius: 10px;
  padding: 10px 5px 1px 5px;
}