<ion-content [forceOverscroll]="false">
  <div class="hos-wrapper" *ngIf="!pageLoading">
    <div class="hos-header" (click)="toggleModal2()">
      <div class="service" [ngClass]="{'service-on': locationStatus, 'service-off': !locationStatus}" (click)="checkLocation()">
        <img src="assets/icon/location_icon.svg" />
      </div>
      <div class="hos-name">
        <p class="subtitle">{{ driverName }}</p>
        <p class="text-1">Vehicle Unit: {{ vehicle?.vehicleUnit }}</p>
      </div>
      <div class="service" [ngClass]="{'service-on': deviceConStatus, 'service-off': !deviceConStatus}" (click)="checkBluetooth()">
        <img src="assets/icon/bluetooth_icon.svg" />
      </div>
    </div>

    <app-message-banner *ngIf="bannerInfo.show" [title]="bannerInfo.title" [subtitle]="bannerInfo.subtitle" [type]="bannerInfo.type"></app-message-banner>

    <div class="status-bar">
      <p class="subtitle">Current Status</p>
      <div class="green" id="trigger-status" [ngStyle]="{'background-color': getStatusColor(selectedButton)}" style="max-width: 39%" (click)="toggleModal()">
        <span class="text-elipsis">{{currentStatus.statusName}}</span>
        <img src="assets/icon/arrow-bottom.svg" alt="arrow" />
      </div>
      <div class="green" [ngStyle]="{'background-color': getStatusColor(selectedButton)}">{{currentStatusTime}}</div>
    </div>
    <ion-modal [isOpen]="isModalOpen" trigger="trigger-status">
      <ng-template>
        <ion-content [forceOverscroll]="false">
          <app-header [title]="'Select Duty Status'" [backButton]="true" (backButtonCallback)="cancel()"></app-header>
          <div class="modal-content">
            <app-duty-radio-button (selectedValue)="selectButton($event)" [currentValue]="selectedButton"></app-duty-radio-button>
            <app-location-input
              [label]="'Location'"
              [fill]="true"
              [type]="'text'"
              [(value)]="locationDescription"
              [loading]="locationLoading"
              [disabled]="locationDisable"
              (gpsCallback)="getLocalCurrentLocation()"
              [(validation)]="validation['location']"></app-location-input>
            <app-comments [label]="'Comments'" [fill]="true" [type]="'text'" [(value)]="comments" [noValidation]="true"></app-comments>
            <div class="btns-flex">
              <button class="btn secondary-btn btn-custom" (click)="cancel()">Back</button>
              <button class="btn primary-btn btn-custom" (click)="confirm()">
                <span *ngIf="!modalLoading">Save</span> <ion-spinner *ngIf="modalLoading" name="circular" color="light"></ion-spinner>
              </button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-modal id="custom-modal" [isOpen]="isDrivingAuto" [backdropDismiss]="false">
      <ng-template>
        <div class="modal-box">
          <div class="modal-title">Looks like you didn't move for more than a minute!</div>
          <div class="modal-status">Would you like to change your status to On Duty or Off Duty?</div>
        </div>
        <div class="submit-buttons">
          <div class="action-button default" (click)="closeAutoDrivingModal()">Cancel</div>
          <div class="action-button defaultd" (click)="changeStatusLocally('OFF')">Off Duty</div>
          <div class="action-button warningb" (click)="changeStatusLocally('ON')">On Duty</div>
        </div>
      </ng-template>
    </ion-modal>
    <div class="circles">
      <p class="text-2" style="margin-bottom: 5px">Hours Remaining</p>
      <div class="circles-block" *ngIf="!restMode">
        <div class="circle-block">
          <circle-progress
            [percent]="percentBreak"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="rgb(254, 200, 75)"
            innerStrokeColor="rgba(228, 231, 236, 1)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleBreak)"
            titleColor="rgb(254, 200, 75)"
            titleFontWeight="600"
            subtitle="Break"
            subtitleFontWeight="500"
            subtitleColor="rgba(152, 162, 179, 1)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            [percent]="percentDriving"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="rgba(18, 183, 106, 1)"
            innerStrokeColor="rgba(228, 231, 236, 1)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleDriving)"
            titleColor="rgba(18, 183, 106, 1)"
            titleFontWeight="600"
            subtitle="Driving"
            subtitleFontWeight="500"
            subtitleColor="rgba(152, 162, 179, 1)"
            subtitleFontSize="22"
            [animation]="animateCircles"
            [showUnits]="false"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            [percent]="percentShift"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="rgba(155, 138, 251, 1)"
            innerStrokeColor="rgba(228, 231, 236, 1)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleShift)"
            titleColor="rgba(155, 138, 251, 1)"
            titleFontWeight="600"
            subtitle="Shift"
            subtitleFontWeight="500"
            subtitleColor="rgba(152, 162, 179, 1)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            [percent]="percentCycle"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="rgba(251, 101, 20, 1)"
            innerStrokeColor="rgba(228, 231, 236, 1)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleCycle)"
            titleColor="rgba(251, 101, 20, 1)"
            titleFontWeight="600"
            subtitle="Cycle"
            subtitleFontWeight="500"
            subtitleColor="rgba(152, 162, 179, 1)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
      </div>
    </div>
    <div class="rest-mode" *ngIf="restMode">
      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">Minimum Break Required</p>
          <p class="subtitle">{{ convertSecondToHours(restBreak) }} / 00:30</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-1" class="progress-bar-inner" [style]="'width: ' + progressBreak * 100 + '%'"></div>
        </div>
      </div>

      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">Until shift reset</p>
          <p class="subtitle">{{ convertSecondToHours(restShift) }} / 10:00</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-2" class="progress-bar-inner" [style]="'width: ' + progressShift * 100 + '%'"></div>
        </div>
      </div>

      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">Until Cycle Reset</p>
          <p class="subtitle">{{ convertSecondToHours(restCycle) }} / 34:00</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-3" class="progress-bar-inner" [style]="'width: ' + progressCycle * 100 + '%'"></div>
        </div>
      </div>
    </div>
    <div class="time">
      <div class="time-block">
        <p class="subtitle">{{ getTotalWorkedHours() | convertSecondsToHoursAndMinutesHm }}</p>
        <p class="text-1">Last 7 Days</p>
      </div>
      <div class="time-block">
        <p class="subtitle">{{ hoursRecap | convertSecondsToHoursAndMinutesHm }}</p>
        <p class="text-1">Hours Tomorrow</p>
      </div>
    </div>
    <div class="switch-sleep">
      <p class="subtitle">Split Sleeper Berth</p>
      <app-toggle-switch [isChecked]="splitSleeperBerth" (valueCalback)="toggleSplitSleeperBerth($event)"></app-toggle-switch>
    </div>
    <button class="btn primary-btn" (click)="switchMode()">
      <img *ngIf="!restMode" src="assets/icon/moon.svg" alt="moon" />
      <img *ngIf="restMode" src="assets/icon/drive.svg" alt="moon" />
      {{ restMode ? 'Switch to Drive Mode' : 'Switch to Rest Mode' }}
    </button>
    <p class="subtitle">Logs and Recap Hours</p>
    <div class="log-dailies">
      <div class="log-daily" *ngFor="let logDaily of logDailies" (click)="selectLog(logDaily)">
        <div class="log-left">
          <div class="subtitle">
            {{ logDaily.logDate | date:'EEEE' }}, {{ logDaily.logDate | date: 'MMMM dd' }}
            <div *ngIf="logDaily.violations.length !== 0" class="violation-number"><img src="../../../assets/icon/violation.svg" />{{logDaily.violations.length}}</div>
          </div>
          <div class="sub-info">
            <div class="status-dot" [ngClass]="{'status-dot-error': !logDaily.formManner, 'status-dot-success': logDaily.formManner }"></div>
            <p>Form</p>
            <div class="status-dot" [ngClass]="{'status-dot-error': !logDaily.certified, 'status-dot-success': logDaily.certified }"></div>
            <p>Certify</p>
          </div>
        </div>
        <div class="log-right">
          <p class="hours-worked">{{ logDaily.timeWorked | convertSecotdsToHoursAndMinutes }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-page-loader [height]="'100%'" *ngIf="pageLoading"></app-page-loader>
</ion-content>
