<ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="getPlatform() === 'ios' ? true : false" [fullscreen]="true">
  <div class="hos-wrapper" [ngClass]="{'hide-el': pageLoading}">
    <div class="hos-header">
      <div class="service" [ngClass]="{'service-on': locationStatus, 'service-off': !locationStatus}" (click)="checkLocation()">
        <img src="assets/icons/location_icon.svg" />
      </div>
      <div class="hos-name">
        <p class="subtitle">{{ driverName }}</p>
        <p class="text-1">{{'Vehicle Unit' | translate}}: {{ vehicle?.vehicleUnit }}</p>
      </div>
      <div class="service" [ngClass]="{'service-on': deviceConStatus, 'service-off': !deviceConStatus}" (click)="checkBluetooth()">
        <img src="assets/icons/bluetooth_icon.svg" />
      </div>
    </div>
    <!-- For testing purposes. DO NOT DELETE -->
    <!-- <div style="display: flex; gap: 5px">
      <button style="padding: 5px" (click)="carSim.startEngine()">power up</button>
      <button style="padding: 5px" (click)="carSim.stopEngine()">power down</button>
      <button style="padding: 5px" (click)="carSim.driving()">drive</button>
      <button style="padding: 5px" (click)="carSim.stopDriving()">stop driving</button>
      <button style="padding: 5px" (click)="carSim.instantMessage()">instant data</button>
    </div> -->

    <app-message-banner *ngIf="bannerInfo.show" [title]="bannerInfo.title | translate" [subtitle]="bannerInfo.subtitle | translate" [type]="bannerInfo.type"></app-message-banner>

    <!-- <div class="status-bar">
      <p class="subtitle">{{'Current Status' | translate}}</p>
      <div class="green" id="trigger-status" [ngStyle]="{'background-color': currentStatusColor}" style="max-width: 39%" (click)="toggleModal()">
        <span class="text-elipsis">{{currentStatus.statusName | translate}}</span>
        <img src="assets/icons/arrow-bottom.svg" alt="arrow" />
      </div>
      <div class="green" [ngStyle]="{'background-color': currentStatusColor}">{{currentStatusTime}}</div>
    </div> -->
    <app-current-status [status]="currentStatus.statusCode" [time]="currentStatusTime" (statusCallback)="selectButton($event)"></app-current-status>
    <app-change-status [status]="selectedButton" (statusChange)="selectButton($event)"></app-change-status>
    <app-hours-remaining
      [percentBreak]="percentBreak"
      [percentDriving]="percentDriving"
      [percentShift]="percentShift"
      [percentCycle]="percentCycle"
      [restBreak]="restBreak"
      [restShift]="restShift"
      [restCycle]="restCycle"
      [progressBreak]="progressBreak"
      [progressShift]="progressShift"
      [progressCycle]="progressCycle"
      [titleBreak]="titleBreak"
      [titleDriving]="titleDriving"
      [titleShift]="titleShift"
      [titleCycle]="titleCycle"></app-hours-remaining>
    <!-- <div class="circles">
      <p class="text-2" style="margin-bottom: 5px">{{'Hours Remaining' | translate}}</p>
      <div class="circles-block" *ngIf="!restMode">
        <div class="circle-block">
          <circle-progress
            style="pointer-events: none"
            [percent]="percentBreak"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="var(--warning-300)"
            innerStrokeColor="var(--gray-200)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleBreak)"
            titleColor="var(--warning-400)"
            titleFontWeight="600"
            [subtitle]="'Break' | translate"
            subtitleFontWeight="500"
            subtitleColor="var(--gray-400)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            style="pointer-events: none"
            [percent]="percentDriving"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="var(--success-500)"
            innerStrokeColor="var(--gray-200)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleDriving)"
            titleColor="var(--success-600)"
            titleFontWeight="600"
            [subtitle]="'Driving' | translate"
            subtitleFontWeight="500"
            subtitleColor="var(--gray-400)"
            subtitleFontSize="22"
            [animation]="animateCircles"
            [showUnits]="false"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            style="pointer-events: none"
            [percent]="percentShift"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="var(--purple-500)"
            innerStrokeColor="var(--gray-200)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleShift)"
            titleColor="var(--purple-600)"
            titleFontWeight="600"
            [subtitle]="'Shift' | translate"
            subtitleFontWeight="500"
            subtitleColor="var(--gray-400)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="circle-block">
          <circle-progress
            style="pointer-events: none"
            [percent]="percentCycle"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="var(--orange-400)"
            innerStrokeColor="var(--gray-200)"
            [innerStrokeWidth]="15"
            titleFontSize="22"
            [title]="convertSecondToHours(titleCycle)"
            titleColor="var(--orange-400)"
            titleFontWeight="600"
            [subtitle]="'Cycle' | translate"
            subtitleFontWeight="500"
            subtitleColor="var(--gray-400)"
            subtitleFontSize="22"
            [showUnits]="false"
            [animation]="animateCircles"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
      </div>
    </div> -->
    <div id="violation-m" class="sleep-container" [ngClass]="{'hide-container': !checkElementHasChildren('sleep-box')}">
      <!-- Shift -->
      <div class="sleep-box sleep-warning" *ngIf="this.titleShift < 1800 && this.titleShift > 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Shift Warning: Shift will end in {{convertSecondToHours(this.titleShift)}} min</span>
      </div>
      <div class="sleep-box sleep-error" *ngIf="(currentStatus.statusCode === 'ON' || currentStatus.statusCode === 'D' || currentStatus.statusCode === 'YM') && this.titleShift === 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Shift Violation: Shift is 00:00</span>
      </div>
      <!-- Break -->
      <div class="sleep-box sleep-warning" *ngIf="this.titleBreak < 1800 && this.titleBreak > 0 && currentStatus.statusCode === 'D'">
        <img src="../../../assets/icons/danger.svg" /> <span>Break Warning: You'll have to take a break in {{convertSecondToHours(this.titleBreak)}} min</span>
      </div>
      <div class="sleep-box sleep-error" *ngIf="(currentStatus.statusCode === 'D') && this.titleBreak === 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Break Violation: Break is 00:00. You need to take a break</span>
      </div>
      <!-- Cycle -->
      <div class="sleep-box sleep-warning" *ngIf="this.titleCycle < 1800 && this.titleCycle > 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Cycle Warning: Cycle will end in {{convertSecondToHours(this.titleCycle)}} min</span>
      </div>
      <div class="sleep-box sleep-error" *ngIf="(currentStatus.statusCode === 'ON' || currentStatus.statusCode === 'D' || currentStatus.statusCode === 'YM') && this.titleCycle === 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Cycle Violation: Cycle is 00:00</span>
      </div>
      <!-- Driving -->
      <div class="sleep-box sleep-warning" *ngIf="this.titleDriving < 1800 && this.titleDriving > 0 && currentStatus.statusCode === 'D'">
        <img src="../../../assets/icons/danger.svg" /> <span>Driving Warning: Driving will end in {{convertSecondToHours(this.titleDriving)}} min</span>
      </div>
      <div class="sleep-box sleep-error" *ngIf="currentStatus.statusCode === 'D' && this.titleDriving === 0">
        <img src="../../../assets/icons/danger.svg" /> <span>Driving Violation: Driving is 00:00</span>
      </div>
    </div>
    <app-recap [recapTime]="hoursRecap | convertSecotdsToHoursAndMinutes"></app-recap>
    <!-- <div class="rest-mode" *ngIf="restMode">
      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">{{'Minimum Break Required' | translate}}</p>
          <p class="subtitle">{{ convertSecondToHours(restBreak) }} / 00:30</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-1" class="progress-bar-inner" [style]="'width: ' + progressBreak * 100 + '%'"></div>
        </div>
      </div>

      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">{{'Until shift reset' | translate}}</p>
          <p class="subtitle">{{ convertSecondToHours(restShift) }} / 10:00</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-2" class="progress-bar-inner" [style]="'width: ' + progressShift * 100 + '%'"></div>
        </div>
      </div>

      <div class="rest-row">
        <div class="row-1">
          <p class="subtitle">{{'Until Cycle Reset' | translate}}</p>
          <p class="subtitle">{{ convertSecondToHours(restCycle) }} / 34:00</p>
        </div>
        <div class="progress-bar-outer">
          <div id="inner-3" class="progress-bar-inner" [style]="'width: ' + progressCycle * 100 + '%'"></div>
        </div>
      </div>
    </div> -->
    <!-- <div class="time">
      <div class="time-block">
        <p class="subtitle">{{ getTotalWorkedHours() | convertSecondsToHoursAndMinutesHm }}</p>
        <p class="text-1">{{'Last 7 Days' | translate}}</p>
      </div>
      <div class="time-block">
        <p class="subtitle">{{ hoursRecap | convertSecondsToHoursAndMinutesHm }}</p>
        <p class="text-1">{{'Hours Tomorrow' | translate}}</p>
      </div>
    </div> -->
    <!-- <div class="switch-sleep">
      <p class="subtitle">{{'Split Sleeper Berth' | translate}}</p>
      <app-toggle-switch [isChecked]="splitSleeperBerth" (valueCalback)="toggleSplitSleeperBerth($event)"></app-toggle-switch>
    </div> -->
    <!-- <button class="btn primary-btn custom-sleep-btn" (click)="switchMode()">
      <img *ngIf="!restMode" src="assets/icons/moon.svg" alt="moon" />
      <img *ngIf="restMode" src="assets/icons/drive.svg" alt="moon" />
      <span>{{ (restMode ? 'Switch to Drive Mode' : 'Switch to Rest Mode') | translate }}</span>
    </button> -->
    <!-- <p class="subtitle">{{'Logs and Recap Hours' | translate}}</p> -->
    <div class="card-info">
      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 1600 270">
        <g class="grid" transform="translate(65, 40)">
          <rect class="border" x="0" y="0" width="1440" height="200" rx="8" ry="8"></rect>

          <g class="" *ngFor="let hours of graphicsHour">
            <g class="column" [style.transform]="'translateX(' + hours * 60 + 'px)'">
              <line x1="0" x2="0" y1="0" y2="200"></line>
              <g class="cell top" transform="translate(0, 0)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell top" transform="translate(0, 50)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 100)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 150)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
            </g>
          </g>
          <g class="column" transform="translate(1440, 0)">
            <line x1="0" x2="0" y1="0" y2="200"></line>
          </g>

          <line class="row" x1="0" x2="1440" y1="0" y2="0"></line>
          <line class="row" x1="0" x2="1440" y1="50" y2="50"></line>
          <line class="row" x1="0" x2="1440" y1="100" y2="100"></line>
          <line class="row" x1="0" x2="1440" y1="150" y2="150"></line>
          <line class="row" x1="0" x2="1440" y1="200" y2="200"></line>
        </g>

        <g class="duty-status-labels" transform="translate(40, 40)">
          <text class="label" transform="translate(15, 25)" text-anchor="end" dy="0.35em">OFF</text>
          <text class="label" transform="translate(15, 75)" text-anchor="end" dy="0.35em">SB</text>
          <text class="label" transform="translate(15, 125)" text-anchor="end" dy="0.35em">D</text>
          <text class="label" transform="translate(15, 175)" text-anchor="end" dy="0.35em">ON</text>
        </g>

        <g class="hour-labels" transform="translate(65, 40)">
          <text class="label" transform="translate(0, 10)" text-anchor="middle" dy="-1em">M</text>
          <text class="label" transform="translate(60, 10)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(120, 10)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(180, 10)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(240, 10)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(300, 10)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(360, 10)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(420, 10)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(480, 10)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(540, 10)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(600, 10)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(660, 10)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(720, 10)" text-anchor="middle" dy="-1em">N</text>
          <text class="label" transform="translate(780, 10)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(840, 10)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(900, 10)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(960, 10)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(1020, 10)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(1080, 10)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(1140, 10)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(1200, 10)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(1260, 10)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(1320, 10)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(1380, 10)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(1440, 10)" text-anchor="middle" dy="-1em">M</text>
        </g>

        <g class="durations" transform="translate(1515, 40)">
          <text class="label" transform="translate(0, 25)" dy="0.35em">{{ durationsOFF * 60 | convertSecotdsToHoursAndMinutes }}</text>
          <text class="label" transform="translate(0, 75)" dy="0.35em">{{ durationsSB * 60 | convertSecotdsToHoursAndMinutes }}</text>
          <text class="label" transform="translate(0, 125)" dy="0.35em">{{ durationsD * 60 | convertSecotdsToHoursAndMinutes }}</text>
          <text class="label" transform="translate(0, 175)" dy="0.35em">{{ durationsON * 60 | convertSecotdsToHoursAndMinutes }}</text>
        </g>

        <g class="eventLine" transform="translate(65, 40)">
          <g class="eventRecord" *ngFor="let event of eventGraphicLine">
            <line [attr.x1]="event.x1" [attr.x2]="event.x2" [attr.y1]="event.y1" [attr.y2]="event.y2" [class]="event.class"></line>

            <line *ngIf="event.yV > 0" [attr.x1]="event.x1" [attr.x2]="event.x1" [attr.y1]="event.y1" [attr.y2]="event.yV" class="vertical"></line>
          </g>
        </g>

        <g transform="translate(65, 40)">
          <rect [attr.x]="violationRect.x1" [attr.width]="violationRect.x2 - violationRect.x1" class="error-status-viol" height="200"></rect>
        </g>
      </svg>
      <div class="violation-list" *ngIf="logDaily?.violations.length !== 0">
        <div class="violation-item" *ngFor="let violation of logDaily?.violations" (click)="toggleViolationRect(violation)">
          {{ (violation?.regulations.name | translate) + ' ' }}{{ violation.startTime | date : 'hh:mm:ss a' : timeZones[timeZone] }}
        </div>
      </div>
    </div>
    <div class="logdailies-horizontal">
      <div class="logdaily-element" *ngFor="let logDaily of logDailies" (click)="selectLog(logDaily)">
        <div class="log-el-title">
          <div class="log-el-text">{{ logDaily.logDate | date:'d MMM' | translate }}</div>
          <div class="log-el-signs">
            <div class="log-el-sign log-el-sign-red">F</div>
            <div class="log-el-sign log-el-sign-red">C</div>
            <div class="log-el-sign log-el-sign-green">V</div>
          </div>
        </div>
        <div class="log-el-time">{{ logDaily.timeWorked | convertSecotdsToHoursAndMinutes }}</div>
      </div>
    </div>
    <!-- <div class="log-dailies">
      <div class="log-daily" *ngFor="let logDaily of logDailies" (click)="selectLog(logDaily)">
        <div class="log-left">
          <div class="subtitle">
            {{ logDaily.logDate | date:'EEEE' | translate }}, {{ logDaily.logDate | date: 'MMMM' | translate }} {{logDaily.logDate | date: 'dd'}}
            <div *ngIf="logDaily.violations.length !== 0" class="violation-number"><img src="../../../assets/icons/violation.svg" />{{logDaily.violations.length}}</div>
          </div>
          <div class="sub-info">
            <div class="status-dot" [ngClass]="{'status-dot-error': !logDaily.formManner, 'status-dot-success': logDaily.formManner }"></div>
            <p>{{'Form' | translate}}</p>
            <div class="status-dot" [ngClass]="{'status-dot-error': !logDaily.certified, 'status-dot-success': logDaily.certified }"></div>
            <p>{{'Certify' | translate}}</p>
          </div>
        </div>
        <div class="log-right">
          <p class="hours-worked">{{ logDaily.timeWorked | convertSecotdsToHoursAndMinutes }}</p>
        </div>
      </div>
    </div> -->
    <!-- <ion-modal [isOpen]="isModalOpen" trigger="trigger-status" (willDismiss)="cancel()">
      <ng-template>
        <ion-header class="ion-no-border">
          <ion-toolbar></ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true" [forceOverscroll]="getPlatform() === 'ios' ? true : false">
          <app-header [title]="'Select Duty Status' | translate" [backButton]="true" (backButtonCallback)="cancel()"></app-header>
          <div class="modal-content">
            <app-duty-radio-button (selectedValue)="selectButton($event)" [currentValue]="selectedButton"></app-duty-radio-button>
            <app-location-input
              [label]="'Location' | translate"
              [fill]="true"
              [type]="'text'"
              [(value)]="locationDescription"
              [loading]="locationLoading"
              [disabled]="locationDisable"
              (gpsCallback)="getLocalCurrentLocation()"
              [(validation)]="validation['location']"></app-location-input>
            <app-comments [label]="'Comments' | translate" [fill]="true" [type]="'text'" [(value)]="comments" [noValidation]="true"></app-comments>
            <div class="btns-flex">
              <button class="btn secondary-btn btn-custom" (click)="cancel()">{{'Back' | translate}}</button>
              <button class="btn primary-btn btn-custom" style="color: #fcfcfc" (click)="confirm()">
                <span *ngIf="!modalLoading">{{'Save' | translate}}</span> <ion-spinner *ngIf="modalLoading" name="circular" color="light"></ion-spinner>
              </button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal> -->
    <ion-modal id="custom-modal" [isOpen]="isDrivingAuto" [backdropDismiss]="false">
      <ng-template>
        <div class="modal-box">
          <div class="modal-title">{{"Looks like you didn't move for more than a minute! " | translate}}{{"(" + slowDownTimoutRemaining + ")"}}</div>
          <div class="modal-status">{{'Would you like to change your status to On Duty or Off Duty?' | translate}}</div>
        </div>
        <div class="submit-buttons">
          <div class="action-button default" (click)="closeAutoDrivingModal()">{{'Cancel' | translate}}</div>
          <div class="action-button defaultd" (click)="changeStatusLocally('OFF')">{{'Off Duty' | translate}}</div>
          <div class="action-button warningb" (click)="changeStatusLocally('ON')">{{'On Duty' | translate}}</div>
        </div>
      </ng-template>
    </ion-modal>
  </div>
  <app-page-loader [height]="'100%'" [ngClass]="{'hide-el': !pageLoading}"></app-page-loader>
  <ion-loading [isOpen]="autoChangeLoading" [message]="'Changing status...' | translate" spinner="circles" [backdropDismiss]="false"></ion-loading>
</ion-content>
