// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --all-background: #ffffff;
  // custom colors
  --gray-25: #fcfcfd;
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-150: #ebeef2;
  --gray-200: #e4e7ec;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #1d2939;
  --gray-900: #101828;

  --primary-25: #f5faff;
  --primary-50: #eff8ff;
  --primary-100: #d1e9ff;
  --primary-200: #b2ddff;
  --primary-300: #84caff;
  --primary-400: #53b1fd;
  --primary-500: #2e90fa;
  --primary-600: #1570ef;
  --primary-700: #175cd3;
  --primary-800: #1849a9;
  --primary-900: #194185;

  --error-25: #fffbfa;
  --error-50: #fef3f2;
  --error-100: #fee4e2;
  --error-200: #fecdca;
  --error-300: #fecdca;
  --error-400: #f97066;
  --error-500: #f04438;
  --error-600: #d92d20;
  --error-700: #b42318;
  --error-800: #912018;
  --error-900: #7a271a;

  --warning-25: #fffcf5;
  --warning-50: #fffaeb;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-400: #fdb022;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;

  --success-25: #f6fef9;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-600: #039855;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;

  --purple-500: #9b8afb;
  --purple-600: #7a5af8;

  --orange-400: #fb6514;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --all-background: #070707;

    --gray-25: #090909;
    --gray-50: #0a0a0a;
    --gray-100: #0e0e0e;
    --gray-150: #101213;
    --gray-200: #121518;
    --gray-300: #1b1f24;
    --gray-400: #98a1b2;
    --gray-500: #667085;
    --gray-600: #9ba6b5;
    --gray-700: #aeb8c8;
    // --gray-800: #3b4b62;
    // --gray-900: #1f2a41;

    // --primary-25: #0a0a0a;
    // --primary-50: #0c0c0c;
    // --primary-100: #041626;
    // --primary-200: #062237;
    // --primary-300: #1887db;
    // --primary-400: #52a6e9;
    // --primary-500: #1f7cdf;
    --primary-600: #1e4394;
    // --primary-700: #1c4180;
    // --primary-800: #1a3469;
    // --primary-900: #192F55;

    // --error-25: #090909;
    // --error-50: #141414;
    // --error-100: #1c1c1c;
    // --error-200: #4f0601;
    // --error-300: #7d0b03;
    // --error-400: #fa877f;
    --error-500: #d63428;
    // --error-600: #e13d32;
    // --error-700: #ca271c;
    // --error-800: #a7241b;
    // --error-900: #8f2d1e;

    // --warning-25: #121212;
    // --warning-50: #171717;
    // --warning-100: #523c01;
    // --warning-200: #fedf89;
    --warning-300: #cb9518;
    --warning-400: #fdb93b;
    --warning-500: #935d15;
    // --warning-600: #f57404;
    // --warning-700: #ce5109;
    // --warning-800: #ab400f;
    // --warning-900: #903710;

    // --success-25: #121212;
    // --success-50: #171717;
    // --success-100: #07461d;
    // --success-200: #0e7035;
    // --success-300: #82ecb4;
    // --success-400: #47d990;
    --success-500: #177047;
    --success-600: #60ebac;
    // --success-700: #039357;
    // --success-800: #9ffad4;
    // --success-900: #b0fadc;

    --purple-500: #391ed0;
    --purple-600: #8d72f9;

    --orange-400: #9d4414;

    //     --ion-color-primary: #428cff;
    //     --ion-color-primary-rgb: 66, 140, 255;
    //     --ion-color-primary-contrast: #ffffff;
    //     --ion-color-primary-contrast-rgb: 255, 255, 255;
    //     --ion-color-primary-shade: #3a7be0;
    //     --ion-color-primary-tint: #5598ff;

    //     --ion-color-secondary: #50c8ff;
    //     --ion-color-secondary-rgb: 80, 200, 255;
    //     --ion-color-secondary-contrast: #ffffff;
    //     --ion-color-secondary-contrast-rgb: 255, 255, 255;
    //     --ion-color-secondary-shade: #46b0e0;
    //     --ion-color-secondary-tint: #62ceff;

    //     --ion-color-tertiary: #6a64ff;
    //     --ion-color-tertiary-rgb: 106, 100, 255;
    //     --ion-color-tertiary-contrast: #ffffff;
    //     --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    //     --ion-color-tertiary-shade: #5d58e0;
    //     --ion-color-tertiary-tint: #7974ff;

    //     --ion-color-success: #2fdf75;
    //     --ion-color-success-rgb: 47, 223, 117;
    //     --ion-color-success-contrast: #000000;
    //     --ion-color-success-contrast-rgb: 0, 0, 0;
    //     --ion-color-success-shade: #29c467;
    //     --ion-color-success-tint: #44e283;

    //     --ion-color-warning: #ffd534;
    //     --ion-color-warning-rgb: 255, 213, 52;
    //     --ion-color-warning-contrast: #000000;
    //     --ion-color-warning-contrast-rgb: 0, 0, 0;
    //     --ion-color-warning-shade: #e0bb2e;
    //     --ion-color-warning-tint: #ffd948;

    //     --ion-color-danger: #ff4961;
    //     --ion-color-danger-rgb: 255, 73, 97;
    //     --ion-color-danger-contrast: #ffffff;
    //     --ion-color-danger-contrast-rgb: 255, 255, 255;
    //     --ion-color-danger-shade: #e04055;
    //     --ion-color-danger-tint: #ff5b71;

    //     --ion-color-dark: #f4f5f8;
    //     --ion-color-dark-rgb: 244, 245, 248;
    //     --ion-color-dark-contrast: #000000;
    //     --ion-color-dark-contrast-rgb: 0, 0, 0;
    //     --ion-color-dark-shade: #d7d8da;
    //     --ion-color-dark-tint: #f5f6f9;

    //     --ion-color-medium: #989aa2;
    //     --ion-color-medium-rgb: 152, 154, 162;
    //     --ion-color-medium-contrast: #000000;
    //     --ion-color-medium-contrast-rgb: 0, 0, 0;
    //     --ion-color-medium-shade: #86888f;
    //     --ion-color-medium-tint: #a2a4ab;

    //     --ion-color-light: #222428;
    //     --ion-color-light-rgb: 34, 36, 40;
    //     --ion-color-light-contrast: #ffffff;
    //     --ion-color-light-contrast-rgb: 255, 255, 255;
    //     --ion-color-light-shade: #1e2023;
    //     --ion-color-light-tint: #383a3e;
  }

  //   /*
  //    * iOS Dark Theme
  //    * -------------------------------------------
  //    */

  .ios body {
    --ion-background-color: var(--all-background);
    // --ion-background-color-rgb: 0, 0, 0;

    //     --ion-text-color: #ffffff;
    //     --ion-text-color-rgb: 255, 255, 255;

    //     --ion-color-step-50: #0d0d0d;
    //     --ion-color-step-100: #1a1a1a;
    //     --ion-color-step-150: #262626;
    //     --ion-color-step-200: #333333;
    //     --ion-color-step-250: #404040;
    //     --ion-color-step-300: #4d4d4d;
    //     --ion-color-step-350: #595959;
    //     --ion-color-step-400: #666666;
    //     --ion-color-step-450: #737373;
    //     --ion-color-step-500: #808080;
    //     --ion-color-step-550: #8c8c8c;
    //     --ion-color-step-600: #999999;
    //     --ion-color-step-650: #a6a6a6;
    //     --ion-color-step-700: #b3b3b3;
    //     --ion-color-step-750: #bfbfbf;
    //     --ion-color-step-800: #cccccc;
    //     --ion-color-step-850: #d9d9d9;
    //     --ion-color-step-900: #e6e6e6;
    //     --ion-color-step-950: #f2f2f2;

    //     --ion-item-background: #000000;

    //     --ion-card-background: #1c1c1d;
  }

  //   .ios ion-modal {
  //     --ion-background-color: var(--ion-color-step-100);
  //     --ion-toolbar-background: var(--ion-color-step-150);
  //     --ion-toolbar-border-color: var(--ion-color-step-250);
  //   }

  //   /*
  //    * Material Design Dark Theme
  //    * -------------------------------------------
  //    */

  .md body {
    --ion-background-color: var(--all-background);
    // --ion-background-color-rgb: 18, 18, 18;

    //     --ion-text-color: #ffffff;
    //     --ion-text-color-rgb: 255, 255, 255;

    //     --ion-border-color: #222222;

    //     --ion-color-step-50: #1e1e1e;
    //     --ion-color-step-100: #2a2a2a;
    //     --ion-color-step-150: #363636;
    //     --ion-color-step-200: #414141;
    //     --ion-color-step-250: #4d4d4d;
    //     --ion-color-step-300: #595959;
    //     --ion-color-step-350: #656565;
    //     --ion-color-step-400: #717171;
    //     --ion-color-step-450: #7d7d7d;
    //     --ion-color-step-500: #898989;
    //     --ion-color-step-550: #949494;
    //     --ion-color-step-600: #a0a0a0;
    //     --ion-color-step-650: #acacac;
    //     --ion-color-step-700: #b8b8b8;
    //     --ion-color-step-750: #c4c4c4;
    //     --ion-color-step-800: #d0d0d0;
    //     --ion-color-step-850: #dbdbdb;
    //     --ion-color-step-900: #e7e7e7;
    //     --ion-color-step-950: #f3f3f3;

    //     --ion-item-background: #1e1e1e;

    //     --ion-toolbar-background: #1f1f1f;

    //     --ion-tab-bar-background: #1f1f1f;

    //     --ion-card-background: #1e1e1e;
  }
}
