<ion-content [forceOverscroll]="false" [fullscreen]="true">
  <app-header [title]="'Connect to ELD'" [subtitle]="'Vehicle Unit: ' + vehicle?.vehicleUnit" [backButton]="true" (backButtonCallback)="goBack()"></app-header>

  <div class="connect-wrapper padding-g">
    <div class="input-container">
      <div class="input-block custom-block">
        <app-input [label]="'MAC Address'" [fill]="false" [type]="'text'" [(value)]="macAddress" [(validation)]="validation['macAddress']"></app-input>
      </div>
      <button class="btn primary-btn custom-button" (click)="connect(macAddress)">Connect</button>
    </div>
    <div class="card-connect-container" *ngIf="elds.length !== 0">
      <div class="card-connect" *ngFor="let eld of elds" (click)="connect(eld.macAddress, false)">
        <div class="card-connect-content">
          <div class="card-connect-title">{{ eld?.name || 'Generic ELD' }}</div>
          <div class="card-connect-mac">{{ 'MAC Address: ' + eld.macAddress.toUpperCase() }}</div>
        </div>
        <div class="card-connect-icon">
          <img src="../../../assets/icon/smart-car.svg" />
        </div>
      </div>
    </div>
    <div class="or-container">
      <div class="line"></div>
      <div class="word">or</div>
      <div class="line"></div>
    </div>
    <button class="btn secondary-btn" (click)="navigateToHos()">Continue disconnected</button>
  </div>
  <ion-loading [isOpen]="loading" message="Connecting to device..." spinner="circles" [backdropDismiss]="false"></ion-loading>
</ion-content>
