<ion-content [forceOverscroll]="false">
  <app-header [title]="'Edit Dvir'" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <form class="padding-g" style="padding-top: 10px" *ngIf="!pageLoading">
    <div class="edit-form">
      <p class="subtitle-lg">General Info</p>
      <div class="edit-dvir-block">
        <app-input [label]="'Company'" [fill]="true" [type]="'text'" [disabled]="true" [value]="company?.name" [noValidation]="true"></app-input>
        <div class="two-inputs">
          <app-input [label]="'Time'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getHour(dvir?.createDate)" [noValidation]="true"></app-input>
          <app-input [label]="'none'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getTime(dvir?.createDate)" [noValidation]="true"></app-input>
        </div>
        <app-input
          [label]="'Location'"
          [fill]="true"
          [type]="'text'"
          [disabled]="locationDisable"
          [(value)]="dvir?.location.description"
          [(validation)]="validation['locationDescription']"></app-input>
      </div>
      <div class="edit-dvir-block">
        <app-input [label]="'Vehicle Name'" [fill]="true" [type]="'text'" [disabled]="vehicleUnitDisable" [value]="dvir?.vehicle.vehicleUnit" [noValidation]="true"></app-input>
        <app-input [label]="'Odometer'" [fill]="true" [type]="'text'" [disabled]="true" [value]="dvir?.odometer.toString()" [noValidation]="true"></app-input>
        <app-multiple-select [label]="'Vehicle Defects (Optional)'" [(value)]="dvir.defectsVehicle" (changeDetection)="checkSelectPresent($event)" [options]="defectsVehicle"></app-multiple-select>
      </div>
      <p class="subtitle-lg">Trailer Info</p>
      <div class="edit-dvir-block">
        <app-input
          [label]="'Trailer Name'"
          [fill]="true"
          [type]="'text'"
          [(value)]="dvir.trailers"
          [(validation)]="validation['trailerName']"
          [noValidation]="!!!dvir.defectsTrailers.length"></app-input>
        <app-multiple-select [label]="'Trailer Defects (Optional)'" [(value)]="dvir.defectsTrailers" (changeDetection)="checkSelectPresent($event)" [options]="defectsTrailers"></app-multiple-select>
      </div>
      <p class="subtitle-lg">Status</p>
      <div class="edit-dvir-block">
        <div class="input-block-2">
          <app-status-radio-button [half]="false" (selectedValue)="switchStatus($event)" [(value)]="dvir.status.code" [disableOption]="optionDisable"></app-status-radio-button>
        </div>
        <app-textarea [label]="'Comments'" [fill]="true" [type]="'text'" [(value)]="dvir.comments" [noValidation]="true"></app-textarea>
      </div>
      <p class="subtitle-lg">Signature</p>
      <div>
        <div class="canvas-container">
          <canvas #sPad height="200" [ngClass]="{'no-display': signatureFound}" style="touch-action: none; user-select: none"></canvas>
          <div class="image-container" *ngIf="signatureFound">
            <img [ngClass]="{ 'no-display': imageLoading }" [src]="dvir.signatureLink" (load)="imageLoaded()" />
            <ion-spinner *ngIf="imageLoading" name="dots" color="dark"></ion-spinner>
          </div>
        </div>
        <div class="signature-buttons">
          <div class="signature-button" (click)="clearSignature()">Clear signature</div>
          <div class="signature-button" (click)="restoreSignature()">Restore signature</div>
        </div>
      </div>
      <p class="subtitle-lg" [ngClass]="{'no-display': !(dvir.status.code === 'DC')}">Mechanic Signature</p>
      <div class="two-inputs" [ngClass]="{'no-display': !(dvir.status.code === 'DC')}">
        <app-input [label]="'Signature Date'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getHour(today.getTime())" [noValidation]="true"></app-input>
        <app-input [label]="'none'" [fill]="true" [type]="'text'" [disabled]="true" [value]="getTime(today.getTime())" [noValidation]="true"></app-input>
      </div>
      <div [ngClass]="{'no-display': !(dvir.status.code === 'DC')}">
        <div class="canvas-container">
          <canvas #mechanicSPad height="200" style="touch-action: none; user-select: none"></canvas>
        </div>
        <div class="signature-buttons">
          <div class="signature-button" (click)="clearMechanicSignature()">Clear signature</div>
        </div>
      </div>
      <button class="btn primary-btn" (click)="onSubmit()"><span *ngIf="!loading">Save</span> <ion-spinner *ngIf="loading" name="circular" color="light"></ion-spinner></button>
    </div>
  </form>
  <div class="spinner-container" *ngIf="pageLoading">
    <ion-spinner color="dark"></ion-spinner>
    <div>LOADING</div>
  </div>
</ion-content>
