// .underline-text {
//   text-decoration: underline;
//   color: #0000ff;
// }
.input-block-2 textarea.input-2 {
  height: 89px;
  resize: none;
}
.text-success {
  flex-grow: 1;
  color: var(--success-500);
  font-size: 16px;
  font-weight: 500;
}
.text-error {
  flex-grow: 1;
  color: var(--error-500);
  font-size: 16px;
  font-weight: 600;
}
.btn {
  width: 100%;
  height: 50px;
  border-radius: 30px;
}

.two-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.signature-container {
  width: 100%;
  background-color: var(--gray-100);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    width: 100%;
    border-radius: 10px;
  }
}

.spinner-container {
  width: 100%;
  height: calc(100% - 114px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;

  ion-spinner {
    width: 30px;
    height: 30px;
  }
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //   max-width: 700px;
  height: 230px;
  max-width: 500px;
  background-color: var(--gray-100);
  border-radius: 10px;
  padding: 15px;

  canvas {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.image-container {
  width: 100%;
  // height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 10px;
  }
}

.no-display {
  display: none;
  width: 0;
  height: 0;
  border: none;
}

.signature-buttons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.signature-button {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-500);
}
