<!-- <ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" [forceOverscroll]="getPlatform() === 'ios' ? true : false">
  <div class="main-container" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
    <div class="login-wrapper">
      <img class="image" *ngIf="getPlatform() === 'ios'" src="assets/imgs/login-img.png" alt="truck" />
      <img class="image" *ngIf="getPlatform() === 'android'" src="assets/imgs/login-img-2.png" alt="truck" />
      <div class="login-form-container">
        <div class="title">{{"Welcome to ZigZag ELD" | translate}}</div>
        <div class="form-login">
          <app-input [label]="'Username' | translate" [fill]="false" [type]="'text'" [(value)]="username" [disabled]="loading" [(validation)]="validation['username']"></app-input>
          <div style="display: flex; flex-direction: column">
            <app-input
              [label]="'Password' | translate"
              [fill]="false"
              [type]="'password'"
              [(value)]="password"
              [(validation)]="validation['password']"
              [disabled]="loading"
              (keydown.enter)="login(username, password)"></app-input>
            <div class="forgot-password" (click)="forgotPassword()">{{'Forgot Password?' | translate}}</div>
          </div>
          <button class="btn-login primary-btn f-submit-button" [ngClass]="{ 'disable-click': loading }" (click)="login(username, password)">
            <span *ngIf="!loading">{{'Login' | translate}}</span>
            <ion-spinner *ngIf="loading" name="circular" color="light"></ion-spinner>
          </button>
        </div>
      </div>
    </div>
    <div class="copyright">{{ getYearCopyright() }}, ZigZag Solutions ©</div>
  </div>
</ion-content>
