.login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  .image {
    // border-radius: 25px;
    border-radius: unset;
    width: 100%;
  }
  .form-login {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .btn-login {
      width: 100%;
      height: 50px;
      border-radius: 40px;
    }
  }
}

.login-form-container {
  padding: 0 30px;
}

.f-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password {
  align-self: flex-end;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-500);
}

.forgot-password:hover {
  text-decoration: underline;
}

.copyright {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  padding-bottom: calc(var(--ion-safe-area-bottom) + 12px);
}
