<ion-content [forceOverscroll]="false">
  <app-header [title]="'DVIRs'">
    <div class="dvir-add" (click)="insertDvir()">+</div>
  </app-header>
  <div class="dvirs-list" [ngClass]="{'hide-el': !(dvirs.length !== 0 && !pageLoading)}">
    <div class="dvir-card" *ngFor="let dvir of dvirs" (click)="editDvir(dvir)">
      <div class="dvir-card-header">
        <div class="card-header-date">
          <div
            class="status-circle"
            [ngClass]="{'status-error': dvir.status.code === 'D' || dvir.status.code === 'DNNBC', 'status-success': dvir.status.code === 'VCS' || dvir.status.code === 'DC' }"></div>
          <div class="header-date">
            {{ dvir.createDate | date: "ccc" : timeZones[timeZone] | translate }}, {{ dvir.createDate | date: "LLL" : timeZones[timeZone] | translate }} {{ dvir.createDate | date: "d" :
            timeZones[timeZone] }}{{getOrdinalSuffix(dvir.createDate | date: "d" : timeZones[timeZone])}} {{ dvir.createDate | date: "yyyy" : timeZones[timeZone] }}
          </div>
        </div>
        <div class="card-header-time">{{ dvir.createDate | date: "hh:mm a" : timeZones[timeZone] }}</div>
      </div>
      <div class="card-vehicle">
        <div class="card-vehicle-name">
          <img src="../../../assets/icons/truck-fast.svg" />
          <span>{{ dvir.vehicle.vehicleUnit }}</span>
        </div>
        <div class="card-vehicle-name">
          <img src="../../../assets/icons/slider-vertical.svg" />
          <span>{{ dvir.trailers || ("No Trailers" | translate) }}</span>
        </div>
      </div>
      <div class="card-defects" *ngIf="dvir.status.code === 'VCS' || dvir.status.code === 'DC'">
        <div class="defects-header">
          <img src="../../../assets/icons/tick-circle.svg" />
          <span class="defect-success">{{ (dvir.status.code === 'VCS' ? "Vehicle Condition Satisfactory" : "All Defects Corrected") | translate }}</span>
        </div>
      </div>
      <div class="card-defects" *ngIf="dvir.defectsVehicle.length !== 0">
        <div class="defects-header">
          <img *ngIf="dvir.status.code !== 'DC'" src="../../../assets/icons/warning-2.svg" />
          <span class="defect-error" [ngClass]="{'defect-default': dvir.status.code === 'DC'}">{{'Vehicle Defects' | translate}}</span>
        </div>
        <div class="defects-list">{{ displayDefect(dvir.defectsVehicle) || ("No defects listed." | translate) }}</div>
      </div>
      <div class="card-defects" *ngIf="dvir.defectsTrailers.length !== 0">
        <div class="defects-header">
          <img *ngIf="dvir.status.code !== 'DC'" src="../../../assets/icons/warning-2.svg" />
          <span class="defect-error" [ngClass]="{'defect-default': dvir.status.code === 'DC'}">{{'Trailer Defects' | translate}}</span>
        </div>
        <div class="defects-list">{{ displayDefect(dvir.defectsTrailers) || ("No defects listed." | translate) }}</div>
      </div>
    </div>
  </div>
  <div class="no-data" [ngClass]="{'hide-el': !(dvirs.length === 0 && !pageLoading)}">No data.</div>
  <app-page-loader [ngClass]="{'hide-el': !pageLoading}"></app-page-loader>
</ion-content>
