<ion-modal id="custom-modal" [isOpen]="_isModalOpen" [backdropDismiss]="false">
  <ng-template>
    <div class="lockscreen-main">
      <div class="lockscreen-title">
        <div class="lockscreen-title-icon"><img src="assets/icons/lockscreen-lock.svg" /></div>
        <div class="lockscreen-time">{{ getCurrentTime() }}</div>
        <div class="lockscreen-date">{{ getCurrentDate() }}</div>
      </div>
      <div class="lockscreen-circles">
        <div class="lockscreen-driving-circle">
          <circle-progress
            style="pointer-events: none"
            [percent]="circleData.percentDriving"
            [responsive]="true"
            [space]="-15"
            [outerStrokeWidth]="15"
            outerStrokeColor="var(--success-500)"
            innerStrokeColor="var(--gray-200)"
            [innerStrokeWidth]="15"
            titleFontSize="32"
            [title]="convertSecondToHours(circleData.titleDriving)"
            titleColor="var(--success-600)"
            titleFontWeight="600"
            [subtitle]="'Driving' | translate"
            subtitleFontWeight="500"
            subtitleColor="var(--gray-400)"
            subtitleFontSize="22"
            [animation]="false"
            [showUnits]="false"
            [clockwise]="false"
            [animationDuration]="500"
            outerStrokeLinecap="round">
          </circle-progress>
        </div>
        <div class="lockscreen-rest-circles">
          <div class="lockscreen-circle-block">
            <circle-progress
              style="pointer-events: none"
              [percent]="circleData.percentBreak"
              [responsive]="true"
              [space]="-15"
              [outerStrokeWidth]="15"
              outerStrokeColor="var(--warning-300)"
              innerStrokeColor="var(--gray-200)"
              [innerStrokeWidth]="15"
              titleFontSize="32"
              [title]="convertSecondToHours(circleData.titleBreak)"
              titleColor="var(--warning-400)"
              titleFontWeight="600"
              [subtitle]="'Break' | translate"
              subtitleFontWeight="500"
              subtitleColor="var(--gray-400)"
              subtitleFontSize="22"
              [showUnits]="false"
              [clockwise]="false"
              [animation]="false"
              [animationDuration]="500"
              outerStrokeLinecap="round">
            </circle-progress>
            <div class="circle-abs">
              <circle-progress
                style="pointer-events: none"
                [percent]="circleData.percentDriving"
                [responsive]="true"
                [space]="-15"
                [outerStrokeWidth]="15"
                outerStrokeColor="var(--success-500)"
                innerStrokeColor="var(--gray-200)"
                [innerStrokeWidth]="15"
                titleFontSize="42"
                [title]="convertSecondToHours(circleData.titleDriving)"
                titleColor="var(--success-600)"
                backgroundColor="var(--gray-25)"
                titleFontWeight="600"
                [subtitle]="'SSB' | translate"
                subtitleFontWeight="500"
                subtitleColor="var(--gray-400)"
                subtitleFontSize="32"
                [animation]="false"
                [showUnits]="false"
                [clockwise]="false"
                [animationDuration]="500"
                outerStrokeLinecap="round">
              </circle-progress>
            </div>
          </div>
          <div class="lockscreen-circle-block">
            <circle-progress
              style="pointer-events: none"
              [percent]="circleData.percentShift"
              [responsive]="true"
              [space]="-15"
              [outerStrokeWidth]="15"
              outerStrokeColor="var(--purple-500)"
              innerStrokeColor="var(--gray-200)"
              [innerStrokeWidth]="15"
              titleFontSize="32"
              [title]="convertSecondToHours(circleData.titleShift)"
              titleColor="var(--purple-600)"
              titleFontWeight="600"
              [subtitle]="'Shift' | translate"
              subtitleFontWeight="500"
              subtitleColor="var(--gray-400)"
              subtitleFontSize="22"
              [showUnits]="false"
              [clockwise]="false"
              [animation]="false"
              [animationDuration]="500"
              outerStrokeLinecap="round">
            </circle-progress>
            <div class="circle-abs">
              <circle-progress
                style="pointer-events: none"
                [percent]="circleData.percentDriving"
                [responsive]="true"
                [space]="-15"
                [outerStrokeWidth]="15"
                outerStrokeColor="var(--success-500)"
                innerStrokeColor="var(--gray-200)"
                [innerStrokeWidth]="15"
                titleFontSize="42"
                [title]="convertSecondToHours(circleData.titleDriving)"
                titleColor="var(--success-600)"
                backgroundColor="var(--gray-25)"
                titleFontWeight="600"
                [subtitle]="'SSB' | translate"
                subtitleFontWeight="500"
                subtitleColor="var(--gray-400)"
                subtitleFontSize="32"
                [animation]="false"
                [showUnits]="false"
                [clockwise]="false"
                [animationDuration]="500"
                outerStrokeLinecap="round">
              </circle-progress>
            </div>
          </div>
          <div class="lockscreen-circle-block">
            <circle-progress
              style="pointer-events: none"
              [percent]="circleData.percentCycle"
              [responsive]="true"
              [space]="-15"
              [outerStrokeWidth]="15"
              outerStrokeColor="var(--orange-400)"
              innerStrokeColor="var(--gray-200)"
              [innerStrokeWidth]="15"
              titleFontSize="32"
              [title]="convertSecondToHours(circleData.titleCycle)"
              titleColor="var(--orange-400)"
              titleFontWeight="600"
              [subtitle]="'Cycle' | translate"
              subtitleFontWeight="500"
              subtitleColor="var(--gray-400)"
              subtitleFontSize="22"
              [showUnits]="false"
              [clockwise]="false"
              [animation]="false"
              [animationDuration]="500"
              outerStrokeLinecap="round">
            </circle-progress>
          </div>
        </div>
      </div>
      <div id="violation-m" class="sleep-container" [ngClass]="{ 'hide-container': !checkElementHasChildren('sleep-box') }">
        <!-- Shift -->
        <div class="sleep-box sleep-warning" *ngIf="circleData.titleShift < 1800 && circleData.titleShift > 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Shift Warning: Shift will end in {{ convertSecondToHours(circleData.titleShift) }} min</span>
        </div>
        <div class="sleep-box sleep-error" *ngIf="(currentStatus.statusCode === 'ON' || currentStatus.statusCode === 'D' || currentStatus.statusCode === 'YM') && circleData.titleShift === 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Shift Violation: Shift is 00:00</span>
        </div>
        <!-- Break -->
        <div class="sleep-box sleep-warning" *ngIf="circleData.titleBreak < 1800 && circleData.titleBreak > 0 && currentStatus.statusCode === 'D'">
          <img src="../../../assets/icons/danger.svg" /> <span>Break Warning: You'll have to take a break in {{ convertSecondToHours(circleData.titleBreak) }} min</span>
        </div>
        <div class="sleep-box sleep-error" *ngIf="currentStatus.statusCode === 'D' && circleData.titleBreak === 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Break Violation: Break is 00:00. You need to take a break</span>
        </div>
        <!-- Cycle -->
        <div class="sleep-box sleep-warning" *ngIf="circleData.titleCycle < 1800 && circleData.titleCycle > 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Cycle Warning: Cycle will end in {{ convertSecondToHours(circleData.titleCycle) }} min</span>
        </div>
        <div class="sleep-box sleep-error" *ngIf="(currentStatus.statusCode === 'ON' || currentStatus.statusCode === 'D' || currentStatus.statusCode === 'YM') && circleData.titleCycle === 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Cycle Violation: Cycle is 00:00</span>
        </div>
        <!-- Driving -->
        <div class="sleep-box sleep-warning" *ngIf="circleData.titleDriving < 1800 && circleData.titleDriving > 0 && currentStatus.statusCode === 'D'">
          <img src="../../../assets/icons/danger.svg" /> <span>Driving Warning: Driving will end in {{ convertSecondToHours(circleData.titleDriving) }} min</span>
        </div>
        <div class="sleep-box sleep-error" *ngIf="currentStatus.statusCode === 'D' && circleData.titleDriving === 0">
          <img src="../../../assets/icons/danger.svg" /> <span>Driving Violation: Driving is 00:00</span>
        </div>
      </div>
      <div class="lockscreen-unlock-button" (click)="cancel()">
        <span>Unlock</span>
        <img src="assets/icons/lockscreen-unlock.svg" />
      </div>
    </div>
  </ng-template>
</ion-modal>
