<ion-content>
  <app-header [title]="'Send Logs'" [backButton]="true" (backButtonCallback)="goBack()"><button class="btn secondary-btn">7 Days + Today</button></app-header>
  <div class="edit-form padding-g">
    <app-input [label]="'Data Transfer Type'" [fill]="false" [type]="'text'" [(value)]="dataTransferType" [disabled]="loading" [(validation)]="validation['dataTransferType']"></app-input>
    <app-textarea [label]="'Comment'" [fill]="false" [type]="'text'" [(value)]="comments" [disabled]="loading" [(validation)]="validation['comments']"></app-textarea>
    <div class="btns-flex">
      <button class="btn secondary-btn" (click)="goBack()">Back</button>
      <button class="btn primary-btn" style="color: #fcfcfc" (click)="submit()">Send</button>
    </div>
  </div>
</ion-content>
