.btn {
  border-radius: 30px;
  padding: 10px 15px;
}
.btns-flex {
  width: 100%;
  .btn {
    flex: 1;
    height: 50px;
  }
}

.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}