<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <app-header [title]="'Co-Driver' | translate" [backButton]="true" (backButtonCallback)="goBack()"></app-header>
  <div class="padding-g" style="display: flex; flex-direction: column; gap: 20px" [ngClass]="{'hide-el': pageLoading}">
    <app-select [label]="'Select Co-Driver' | translate" (changeDetection)="showSelection()" [(value)]="chosenDriver" [options]="coDriverNames" [noValidation]="true"></app-select>
    <button class="btn primary-btn" (click)="save()" [ngClass]="{ 'disable-click': loading }">
      <span *ngIf="!loading" style="color: #fcfcfc">{{'Save' | translate}}</span> <ion-spinner *ngIf="loading" name="circular" color="light"></ion-spinner>
    </button>
  </div>
  <app-page-loader [ngClass]="{'hide-el': !pageLoading}"></app-page-loader>
</ion-content>
