<div class="custom-input" [ngClass]="{ 'custom-input-top': labelPosition === 'top', 'custom-input-left': labelPosition === 'left' }">
  <div *ngIf="label" class="input-label" [ngClass]="{ 'label-error': !valid, 'input-label-top': labelPosition === 'top', 'input-label-left': labelPosition === 'left', 'no-label': label === 'none' }">
    {{ label }}{{ required ? '*' : '' }}
  </div>
  <div class="input-container">
    <input
      [type]="type"
      (input)="onInputChange($event)"
      [(ngModel)]="value"
      [readonly]="disabled || loading"
      [placeholder]="placeholder"
      autocomplete="one-time-code"
      class="input-box"
      [ngClass]="{ 'input-fill': fill, 'validation-error': !valid, 'input-left': labelPosition === 'left', 'disable-input-opacity': showDisabled }" />
    <ion-spinner *ngIf="loading" class="input-loading" name="circular" color="medium"></ion-spinner>
  </div>
</div>
