@import './theme/fonts.scss';
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

* {
  font-family: 'Inter', sans-serif;
}
// .flex-center {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
// }
hr {
  height: 1px !important;
  width: 500px !important;
  background: #e5e5e5 !important;
  display: block !important;
  font-size: 2rem !important;
  opacity: 1 !important;
  visibility: visible !important;
}

p {
  margin: 0;
}

.custom-card {
  margin-inline: 1px;
  margin-top: 5px;
  margin-bottom: 3px;
  border-radius: 8px;
}

.custom-button {
  width: 250px;
  margin: 0 auto;
  height: 40px;
}

.title {
  color: var(--gray-700);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 33px */
  letter-spacing: -0.506px;
}

.primary-btn {
  background-color: var(--primary-600);
  color: var(--gray-25);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.secondary-btn {
  background-color: var(--gray-100);
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 600;
}
.success-btn {
  background-color: var(--success-500);
  color: var(--success-25);
  font-size: 14px;
  font-weight: 600;
}
.error-btn {
  background-color: var(--error-500);
  color: var(--error-25);
  font-size: 14px;
  font-weight: 600;
}
.input-block {
  display: flex;
  flex-direction: column;
}
.label {
  color: var(--gray-700);
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 1px solid var(--gray-200);
  padding: 15px;
  outline-color: var(--gray-300);
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-dvir-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-block-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .two-inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .input-2 {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid var(--gray-200);
    padding: 15px;
    outline-color: var(--gray-300);
    background-color: var(--gray-100);
  }
  .statuses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .status {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: var(--gray-100);
      border-radius: 10px;
      padding: 10px;
    }
  }
}

.readonly {
  outline-width: 0;
}
.width-50 {
  width: 50%;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('assets/icon/arrow-bottom-2.svg') no-repeat;
  background-position: right 10px center;
  padding: 10px !important;
}

.subtitle {
  color: var(--gray-700);
  font-size: 16px;
  font-weight: 500;
}
.subtitle-lg {
  color: var(--gray-700);
  font-size: 18px;
  font-weight: 600;
}
.text-1 {
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 400;
}
.text-2 {
  color: var(--gray-500);
  font-size: 15px;
  font-weight: 600;
}
.text-14-600 {
  color: var(--gray-600);
  font-size: 14px;
  font-weight: 600;
}

.select-statuses {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .select-status {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--gray-100);
    border-radius: 10px;
    padding: 15px;
    .subtitle {
      flex-grow: 1;
    }
  }
}

.btns-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flex-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reminder {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--success-500);
  border-radius: 10px;
  padding: 10px;
  .reminder-text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
  }
}

.page-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--gray-700);
}

.padding-g {
  padding: 20px;
}

.weight-500 {
  font-weight: 500;
}

.no-data {
  width: 100%;
  height: calc(100% - 47px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-elipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.disable-click {
  pointer-events: none;
}
