<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hos">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>HoS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dvir">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>DVIR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inspection">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Inspection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="others">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Others</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
