<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hos">
      <img src="assets/icons/hos.svg" alt="hos" />
      <ion-label>HoS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dvir">
      <img src="assets/icons/dvir.svg" alt="others" />
      <ion-label>DVIR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inspection">
      <img src="assets/icons/car.svg" alt="car" />
      <ion-label>{{'Inspection' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="others">
      <img src="assets/icons/other.svg" alt="others" />
      <ion-label>{{'Others' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
