<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="hos" style="background: #fff">
      <img src="assets/icon/hos.svg" alt="hos" />
      <ion-label>HoS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dvir" style="background: #fff">
      <img src="assets/icon/dvir.svg" alt="others" />
      <ion-label>DVIR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inspection" style="background: #fff">
      <img src="assets/icon/car.svg" alt="car" />
      <ion-label>Inspection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="others" style="background: #fff">
      <img src="assets/icon/other.svg" alt="others" />
      <ion-label>Others</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
