h2 {
  margin: 0;
}

svg:not(:root) {
  overflow: hidden;
}

svg {
  display: block;
  width: 100%;
}

.SVGline {
  stroke: #141;
  stroke-width: 3;
}

rect {
  fill: transparent;
}

rect.eventBorder {
  fill: transparent;
  stroke-opacity: 0;
  transition: fill 300ms ease;
  cursor: pointer;
}

line {
  stroke: #94a4d7;
  stroke-width: 0.5;
}

.eventStatusOFF {
  stroke: rgb(198, 198, 198);
  stroke-width: 5;
}

.eventStatusSB {
  stroke: rgb(31, 49, 64);
  stroke-width: 5;
}

.eventStatusD {
  stroke: rgb(60, 118, 61);
  stroke-width: 5;
}

.eventStatusON {
  stroke: rgb(213, 133, 18);
  stroke-width: 5;
}

.eventStatusPC {
  stroke: rgb(198, 198, 198);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusYM {
  stroke: rgb(213, 133, 18);
  stroke-width: 5;
  stroke-dasharray: 7;
}

.eventStatusNP {
  stroke-width: 3;
  stroke: rgb(60, 118, 61);
}

.eventStatusLogin {
  stroke-width: 3;
  stroke: rgb(3, 33, 252);
  stroke-dasharray: 6;
}

.eventStatusLogout {
  stroke-width: 3;
  stroke: rgb(255, 0, 0);
  stroke-dasharray: 6;
}

.vertical {
  stroke: #002ed0;
}

.horizontalRed {
  stroke: #db2828;
  stroke-width: 7;
}

.card-info {
  min-width: 397px;
  z-index: 5;
}

ion-grid {
  margin: 0;
}

ion-col {
  text-align: center;
}

.FormStatus {
  background: #3880ff;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-card {
  position: relative;
}

.custom-card-on::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #fae057; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}

.custom-card-off::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #bdc3bf; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-d::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #8bc34a; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-sb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #7e7e7e; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-pc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #bdc3bf; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}
.custom-card-ym::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2%; /* Ширина левой части, настраивайте по вашему усмотрению */
  height: 100%;
  background-color: #fae057; /* Любой цвет, который вам нужен */
  /* Другие стили по вашему выбору */
}

.underline-text {
  text-decoration: underline;
  color: #0000ff;
}
