<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log</ion-title>
    <ion-button
      (click)="nevigateToInspection()"
      slot="end"
      fill="clear"
      size="small"
      color="light"
      ><ion-icon name="eye-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-button (click)="goToNextLog()" fill="clear" size="small" color="dark"
      ><ion-icon name="arrow-back-outline"></ion-icon
    ></ion-button>
    <ion-title *ngIf="logDaily">
      {{ logDaily.Day | date: 'EEEE, MMM d' }}
    </ion-title>
    <ion-button
      (click)="goToPreviousLog()"
      slot="end"
      fill="clear"
      size="small"
      color="dark"
      ><ion-icon name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content [fullscreen]="true">
  <ion-grid>
    <div class="card-info">
      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 1570 270">
        <g class="grid" transform="translate(50, 40)">
          <rect
            class="border"
            x="0"
            y="0"
            width="1440"
            height="200"
            rx="8"
            ry="8"
          ></rect>

          <g class="" *ngFor="let hours of graphicsHour">
            <g
              class="column"
              [style.transform]="'translateX('+(hours*60)+'px)'"
            >
              <line x1="0" x2="0" y1="0" y2="200"></line>
              <g class="cell top" transform="translate(0, 0)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell top" transform="translate(0, 50)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 100)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 150)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
            </g>
          </g>
          <g class="column" transform="translate(1440, 0)">
            <line x1="0" x2="0" y1="0" y2="200"></line>
          </g>

          <line class="row" x1="0" x2="1440" y1="0" y2="0"></line>
          <line class="row" x1="0" x2="1440" y1="50" y2="50"></line>
          <line class="row" x1="0" x2="1440" y1="100" y2="100"></line>
          <line class="row" x1="0" x2="1440" y1="150" y2="150"></line>
          <line class="row" x1="0" x2="1440" y1="200" y2="200"></line>
        </g>

        <g class="duty-status-labels" transform="translate(35, 40)">
          <text
            class="label"
            transform="translate(0, 25)"
            text-anchor="end"
            dy="0.35em"
          >
            OFF
          </text>
          <text
            class="label"
            transform="translate(0, 75)"
            text-anchor="end"
            dy="0.35em"
          >
            SB
          </text>
          <text
            class="label"
            transform="translate(0, 125)"
            text-anchor="end"
            dy="0.35em"
          >
            D
          </text>
          <text
            class="label"
            transform="translate(0, 175)"
            text-anchor="end"
            dy="0.35em"
          >
            ON
          </text>
        </g>

        <g class="hour-labels" transform="translate(50, 40)">
          <text
            class="label"
            transform="translate(0, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            M
          </text>
          <text
            class="label"
            transform="translate(60, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            1
          </text>
          <text
            class="label"
            transform="translate(120, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            2
          </text>
          <text
            class="label"
            transform="translate(180, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            3
          </text>
          <text
            class="label"
            transform="translate(240, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            4
          </text>
          <text
            class="label"
            transform="translate(300, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            5
          </text>
          <text
            class="label"
            transform="translate(360, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            6
          </text>
          <text
            class="label"
            transform="translate(420, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            7
          </text>
          <text
            class="label"
            transform="translate(480, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            8
          </text>
          <text
            class="label"
            transform="translate(540, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            9
          </text>
          <text
            class="label"
            transform="translate(600, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            10
          </text>
          <text
            class="label"
            transform="translate(660, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            11
          </text>
          <text
            class="label"
            transform="translate(720, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            N
          </text>
          <text
            class="label"
            transform="translate(780, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            1
          </text>
          <text
            class="label"
            transform="translate(840, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            2
          </text>
          <text
            class="label"
            transform="translate(900, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            3
          </text>
          <text
            class="label"
            transform="translate(960, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            4
          </text>
          <text
            class="label"
            transform="translate(1020, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            5
          </text>
          <text
            class="label"
            transform="translate(1080, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            6
          </text>
          <text
            class="label"
            transform="translate(1140, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            7
          </text>
          <text
            class="label"
            transform="translate(1200, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            8
          </text>
          <text
            class="label"
            transform="translate(1260, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            9
          </text>
          <text
            class="label"
            transform="translate(1320, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            10
          </text>
          <text
            class="label"
            transform="translate(1380, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            11
          </text>
          <text
            class="label"
            transform="translate(1440, 5)"
            text-anchor="middle"
            dy="-1em"
          >
            M
          </text>
        </g>

        <g class="eventLine" transform="translate(50, 40)">
          <g class="eventRecord" *ngFor="let event of eventGraphicLine">
            <line
              [attr.x1]="event.x1"
              [attr.x2]="event.x2"
              [attr.y1]="event.y1"
              [attr.y2]="event.y2"
              [class]="event.class"
            ></line>

            <line
              *ngIf="event.yV > 0"
              [attr.x1]="event.x1"
              [attr.x2]="event.x1"
              [attr.y1]="event.y1"
              [attr.y2]="event.yV"
              class="vertical"
            ></line>
          </g>
        </g>
      </svg>
    </div>

    <ion-row *ngIf="logDaily">
      <ion-col style="padding: 0; margin: 0; padding-bottom: 3px">
        <div class="FormStatus">
          <span style="padding-right: 3px">Form</span>
          <ion-icon
            *ngIf="logDaily.FormManner"
            name="checkmark-circle-outline"
            slot="start"
            size="small"
            color="success"
          ></ion-icon>
          <ion-icon
            *ngIf="!logDaily.FormManner"
            name="alert-circle-outline"
            slot="start"
            size="small"
            color="danger"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="ion-text-center">Vehicles</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-input
              readonly
              [value]="PickedVehicle"
              formControlName="Vehicles"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="ion-text-center">Trailers</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-input type="text" formControlName="Trailers"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="ion-text-center">Shipping Documents*</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-input
              type="text"
              formControlName="ShippingDocuments"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="ion-text-center">From Adress*</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-input type="text" formControlName="FromAdress"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="4">
          <ion-label class="ion-text-center">To Adress*</ion-label>
        </ion-col>
        <ion-col size="8">
          <ion-item>
            <ion-input type="text" formControlName="ToAdress"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col><span style="color: red">* required fields</span></ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button
            [disabled]="!form.valid"
            color="success"
            (click)="onSubmit()"
            expand="block"
          >
            Save
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-toolbar color="primary">
        <ion-title>Logs</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="navigateToInsertDutyStatus()"
            ><ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-row>
    <ion-card
      (click)="navigateToEditDutyStatus()"
      class="custom-card"
      style="padding-left: 10px"
      *ngFor="let logStatus of statusesOnDay; let first = first"
      [ngClass]="{
        'custom-card-off': logStatus.EventTypeCode === 'OFF',
        'custom-card-on': logStatus.EventTypeCode === 'ON',
        'custom-card-d': logStatus.EventTypeCode === 'D',
        'custom-card-sb': logStatus.EventTypeCode === 'SB',
        'custom-card-pc': logStatus.EventTypeCode === 'PC',
        'custom-card-ym': logStatus.EventTypeCode === 'YM'
      }"
    >
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="3" class="ion-text-start">
          <span>{{ logStatus.DateBgn | date:'h:mm a' }}</span>
        </ion-col>
        <ion-col class="ion-text-start">
          <span> {{ logStatus.EventTypeName }}</span>
        </ion-col>
        <ion-col size="4" class="ion-text-center" *ngIf="first">
          <span style="font-size: 12px">
            Started {{logStatus.DateBgn | date:'mediumDate'}}</span
          >
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="3"></ion-col>
        <ion-col class="ion-text-start"
          ><span
            ><ion-icon name="locate"></ion-icon
            >{{logStatus.LocationDescription}}</span
          ></ion-col
        >
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col
          style="padding-left: 5px; padding-top: 0px"
          size="3"
          class="ion-text-start"
        >
          <span style="font-size: 12px; color: rgb(135, 135, 135)">
            {{((logStatus.DateEnd | converStringDateToMiliseconds) -
            (logStatus.DateBgn | converStringDateToMiliseconds)) |
            convertMilisecondsToHoursAndMinutes}}</span
          >
        </ion-col>
        <ion-col size="9"></ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
      <ion-col *ngIf="logDaily">
        <div
          *ngIf="(logDaily.Day | date:'yyyy-MM-dd') !== (today | date:'yyyy-MM-dd')"
        >
          <ion-button
            (click)="openModal()"
            id="open-modal"
            color="tertiary"
            expand="block"
            [disabled]="this.logDaily.Certified || !this.logDaily.FormManner"
            >Certify</ion-button
          >
          <span *ngIf=" !this.logDaily.FormManner" style="color: red"
            >You need to fill and save form first</span
          >
        </div>
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title color="dark"
                  >{{ logDaily.Day | date: 'EEEE, MMM d' }}</ion-title
                >
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button
                    [disabled]="!signature"
                    (click)="confirm()"
                    [strong]="true"
                    >Confirm</ion-button
                  >
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-row class="ion-justify-content-center">
                <ion-col size="auto">
                  <canvas
                    #sPad
                    width="250"
                    height="200"
                    style="touch-action: none; border: 1px solid black"
                  ></canvas>
                </ion-col>
              </ion-row>

              <ion-row
                style="padding-top: 7px"
                class="ion-justify-content-center"
              >
                <ion-col size="auto">
                  <span
                    (click)="restoreSignature()"
                    style="text-decoration: underline"
                  >
                    Restore Signature
                  </span>
                </ion-col>
                <ion-col size="auto">
                  <span (click)="clearSignature()" class="underline-text">
                    Clear Signature
                  </span>
                </ion-col>
              </ion-row>

              <ion-row
                style="padding-top: 30px"
                class="ion-justify-content-center"
              >
                <ion-col size="auto">
                  <span
                    >I hereby certify, that my data entries and my record of
                    duty status for this 24-hour period are true and
                    correct.</span
                  >
                </ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log</ion-title>
    <ion-button
      (click)="nevigateToInspection()"
      slot="end"
      fill="clear"
      size="small"
      color="light"
      ><ion-icon name="eye-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-button (click)="goToNextLog()" fill="clear" size="small" color="dark"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title *ngIf="logDaily"> {{ logDaily.Day | date: 'EEEE, MMM d' }} </ion-title>
    <ion-button (click)="goToPreviousLog()" slot="end" fill="clear" size="small" color="dark"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header> -->

<ion-content [forceOverscroll]="false">
  <app-header [title]="'Log'" [backButton]="true" (backButtonCallback)="goBack()">
    <div class="preview-container" (click)="nevigateToInspection()"><img src="../../../assets/imgs/eye.png" /></div>
  </app-header>

  <app-scroll-toolbar [title]="logDaily?.logDate | date: 'EEEE, MMM d'" (leftCallback)="goToNextLog()" (rightCallback)="goToPreviousLog()"></app-scroll-toolbar>
  <div class="padding-g">
    <div class="card-info">
      <svg preserveAspectRatio="xMidYMid" viewBox="0 0 1570 270">
        <g class="grid" transform="translate(50, 40)">
          <rect class="border" x="0" y="0" width="1440" height="200" rx="8" ry="8"></rect>

          <g class="" *ngFor="let hours of graphicsHour">
            <g class="column" [style.transform]="'translateX('+(hours*60)+'px)'">
              <line x1="0" x2="0" y1="0" y2="200"></line>
              <g class="cell top" transform="translate(0, 0)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell top" transform="translate(0, 50)">
                <line x1="15" x2="15" y1="0" y2="17.5"></line>
                <line x1="30" x2="30" y1="0" y2="35"></line>
                <line x1="45" x2="45" y1="0" y2="17.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 100)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
              <g class="cell bottom" transform="translate(0, 150)">
                <line x1="15" x2="15" y1="50" y2="32.5"></line>
                <line x1="30" x2="30" y1="50" y2="15"></line>
                <line x1="45" x2="45" y1="50" y2="32.5"></line>
              </g>
            </g>
          </g>
          <g class="column" transform="translate(1440, 0)">
            <line x1="0" x2="0" y1="0" y2="200"></line>
          </g>

          <line class="row" x1="0" x2="1440" y1="0" y2="0"></line>
          <line class="row" x1="0" x2="1440" y1="50" y2="50"></line>
          <line class="row" x1="0" x2="1440" y1="100" y2="100"></line>
          <line class="row" x1="0" x2="1440" y1="150" y2="150"></line>
          <line class="row" x1="0" x2="1440" y1="200" y2="200"></line>
        </g>

        <g class="duty-status-labels" transform="translate(35, 40)">
          <text class="label" transform="translate(0, 25)" text-anchor="end" dy="0.35em">OFF</text>
          <text class="label" transform="translate(0, 75)" text-anchor="end" dy="0.35em">SB</text>
          <text class="label" transform="translate(0, 125)" text-anchor="end" dy="0.35em">D</text>
          <text class="label" transform="translate(0, 175)" text-anchor="end" dy="0.35em">ON</text>
        </g>

        <g class="hour-labels" transform="translate(50, 40)">
          <text class="label" transform="translate(0, 5)" text-anchor="middle" dy="-1em">M</text>
          <text class="label" transform="translate(60, 5)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(120, 5)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(180, 5)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(240, 5)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(300, 5)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(360, 5)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(420, 5)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(480, 5)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(540, 5)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(600, 5)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(660, 5)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(720, 5)" text-anchor="middle" dy="-1em">N</text>
          <text class="label" transform="translate(780, 5)" text-anchor="middle" dy="-1em">1</text>
          <text class="label" transform="translate(840, 5)" text-anchor="middle" dy="-1em">2</text>
          <text class="label" transform="translate(900, 5)" text-anchor="middle" dy="-1em">3</text>
          <text class="label" transform="translate(960, 5)" text-anchor="middle" dy="-1em">4</text>
          <text class="label" transform="translate(1020, 5)" text-anchor="middle" dy="-1em">5</text>
          <text class="label" transform="translate(1080, 5)" text-anchor="middle" dy="-1em">6</text>
          <text class="label" transform="translate(1140, 5)" text-anchor="middle" dy="-1em">7</text>
          <text class="label" transform="translate(1200, 5)" text-anchor="middle" dy="-1em">8</text>
          <text class="label" transform="translate(1260, 5)" text-anchor="middle" dy="-1em">9</text>
          <text class="label" transform="translate(1320, 5)" text-anchor="middle" dy="-1em">10</text>
          <text class="label" transform="translate(1380, 5)" text-anchor="middle" dy="-1em">11</text>
          <text class="label" transform="translate(1440, 5)" text-anchor="middle" dy="-1em">M</text>
        </g>

        <g class="eventLine" transform="translate(50, 40)">
          <g class="eventRecord" *ngFor="let event of eventGraphicLine">
            <line [attr.x1]="event.x1" [attr.x2]="event.x2" [attr.y1]="event.y1" [attr.y2]="event.y2" [class]="event.class"></line>

            <line *ngIf="event.yV > 0" [attr.x1]="event.x1" [attr.x2]="event.x1" [attr.y1]="event.y1" [attr.y2]="event.yV" class="vertical"></line>
          </g>
        </g>
      </svg>
    </div>
    <form [formGroup]="form">
      <div class="edit-form">
        <div class="form-title">
          <img src="assets/icon/circle-red.svg" alt="circle" />
          <p class="subtitle">Form</p>
          <button class="btn primary-btn" [disabled]="!form.valid" (click)="onSubmit()">Save</button>
        </div>
        <div class="form-list">
          <div class="form-item">
            <p class="text-2">Vehicles</p>
            <input class="input readonly" type="text" readonly [value]="PickedVehicle" formControlName="Vehicles" />
          </div>
          <div class="form-item">
            <p class="text-2">Trailers</p>
            <input class="input" type="text" formControlName="Trailers" />
          </div>
          <div class="form-item">
            <p class="text-2">Shipping Document*</p>
            <input class="input" type="text" formControlName="ShippingDocuments" />
          </div>
          <div class="form-item">
            <p class="text-2">From Address*</p>
            <input class="input" type="text" formControlName="FromAdress" />
          </div>
          <div class="form-item">
            <p class="text-2">Shipping Document*</p>
            <input class="input" type="text" formControlName="ToAdress" />
          </div>
        </div>
        <div class="form-title">
          <p class="subtitle">Logs</p>
          <button class="btn primary-btn" (click)="certifyLog()">Certify</button>
          <button class="btn secondary-btn">Certified</button>
        </div>
        <div class="form-cards">
          <div class="form-card" *ngFor="let logStatus of statusesOnDay">
            <div class="card-row">
              <img src="assets/icon/circle-blue.svg" alt="blue" />
              <p class="subtitle">{{ logStatus.eventTime.timeStamp | date:'h:mm a' }} - {{ logStatus.type.code }}</p>
              <p class="text-14-600">{{ logStatus.eventTime.timeStamp | date:'mediumDate' }}</p>
            </div>
            <div class="card-row">
              <img src="assets/icon/location.svg" alt="location" />
              <p class="text-2">{{ logStatus.location.description }}</p>
              <img src="assets/icon/edit.svg" alt="edit" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>
