<ion-content [fullscreen]="true" [forceOverscroll]="false">
  <app-header [title]="'Certify' | translate" [backButton]="true" (backButtonCallback)="goBack()">
    <div class="date-label">{{logDate | date: 'EEEE' | translate}}, {{logDate | date: 'MMM' | translate}} {{logDate | date: 'd'}}</div>
  </app-header>
  <div class="main-container padding-g">
    <div class="canvas-box">
      <div class="canvas-container">
        <canvas #sPad height="290" [ngClass]="{'no-display': signatureFound}" style="touch-action: none; user-select: none"></canvas>
        <div class="image-container" *ngIf="signatureFound">
          <img [src]="signatureLink" />
          <img [ngClass]="{ 'no-display': imageLoading }" [src]="logDaily.form.signatureLink" (load)="imageLoaded()" />
          <ion-spinner *ngIf="imageLoading" name="dots" color="dark"></ion-spinner>
        </div>
      </div>
      <div class="signature-buttons">
        <div class="signature-button" (click)="clearSignature()">{{'Clear signature' | translate}}</div>
        <div class="signature-button" (click)="restoreSignature()">{{'Restore signature' | translate}}</div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; gap: 20px">
      <div class="confirm-checkbox">
        <div class="checkbox-text">{{'I hereby certify that my data entries and my record of duty status for this 24-hour period are true and correct.' | translate}}</div>
      </div>
      <div class="confirm-buttons">
        <button class="custom-btn secondary-btn" (click)="goBack()" [ngClass]="{ 'disable-click': loading }">{{'Back' | translate}}</button>
        <button
          id="certify-modal-trigger"
          class="custom-btn primary-btn"
          [ngClass]="{'btn-disabled': !isConfirmButtonActive, 'disable-click': loading}"
          [disabled]="!isConfirmButtonActive"
          (click)="openModal()">
          <span *ngIf="!loading" style="color: #fcfcfc">{{'Save' | translate}}</span>
          <ion-spinner *ngIf="loading" name="circular" color="light" class="spinner"></ion-spinner>
        </button>
      </div>
    </div>
  </div>
  <ion-modal id="custom-modal" [isOpen]="isModalOpen" [trigger]="enableModalTrigger ? 'certify-modal-trigger' : undefined">
    <ng-template>
      <div class="modal-box">
        <div class="modal-title">{{'Would you like to sign the other days?' | translate}}</div>
        <div class="modal-subtitle">{{'Rememeber that only the days that do not have logs will be signed!' | translate}}</div>
      </div>
      <div class="submit-buttons">
        <div class="action-button default" (click)="closeModal()">{{'Cancel' | translate}}</div>
        <div class="action-button primary" style="color: #fcfcfc" (click)="confirmModal()">{{'Confirm' | translate}}</div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
